.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/group/members/#{@group.id}"}
      %i.fa.fa-chevron-left= ""
      = t :back

    %div{:style => 'height:1em'}= ""
      
    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      
      %label{:for => 'user_id'}
        = t(:'membership/groups/members/add/user_id')
      %input#user_id{:type => 'text', :name => 'user_id', :required => true}
      
      %label{:for => 'make_admin'}
        %input#make_admin{:type => 'checkbox', :name => 'make_admin', :checked => false}
        = t(:'membership/groups/members/add/make_admin')
        
      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-plus= ""
        = t(:'membership/groups/members/add/submit')
