.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/admin/config'}
      %i.fa.fa-chevron-left
      = t(:'back')
    
    .message.message-warning
      %div= t(:'membership/configuration/refresh/all')
      %div= t(:'membership/configuration/refresh/contact_sysadmin')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %p
        = t(:'membership/configuration/email/to_disable')

      = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'header', :editor_label => t(:'membership/configuration/email/header'), :editor_data => @header_entry&.respond_to?(:value) ? @header_entry.value : ""}
      = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'footer', :editor_label => t(:'membership/configuration/email/footer'), :editor_data => @footer_entry&.respond_to?(:value) ? @footer_entry.value : ""}

      %button.pure-button.button.button-primary{:type => 'submit'}
        = t(:'membership/configuration/email/submit')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
