.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    .message.message-warning
      %div= t(:'membership/configuration/refresh/some')
      %div= t(:'membership/configuration/refresh/contact_sysadmin')

    .pure-g
      .pure-u-1
        .form-wrapped.pad-a-bit
          %h1
            = t(:'membership/configuration/toggle/section_title')

          %form.pure-form.pure-form-stacked{:method => 'POST', :action => '/admin/config/toggle'}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %input{:type => 'hidden', :name => 'key', :value => 'signups'}

            %button.pure-button.button{:type => 'submit', :class => @signups_enabled ? 'button-error' : 'button-primary'}
              - if @signups_enabled
                %i.fa.fa-toggle-on= ""
              - else
                %i.fa.fa-toggle-off= ""

              = succeed ': ' do
                = t(:'membership/configuration/toggle/signups')

              - if @signups_enabled
                = t(:'membership/configuration/toggle/click_to/disable')
              - else
                = t(:'membership/configuration/toggle/click_to/enable')

              - if @signups_will_req_refresh
                = surround '(', ')' do
                  = t(:'membership/configuration/toggle/will_require_refresh')

          %form.pure-form.pure-form-stacked{:method => 'POST', :action => '/admin/config/toggle'}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %input{:type => 'hidden', :name => 'key', :value => 'maintenance'}

            %button.pure-button.button{:type => 'submit', :class => @maintenance_enabled ? 'button-primary' : 'button-error'}
              - if @maintenance_enabled
                %i.fa.fa-toggle-on= ""
              - else
                %i.fa.fa-toggle-off= ""

              = succeed ': ' do
                = t(:'membership/configuration/toggle/maintenance')

              - if @maintenance_enabled
                = t(:'membership/configuration/toggle/click_to/disable')
              - else
                = t(:'membership/configuration/toggle/click_to/enable')

      .pure-u-1.pure-u-md-1-2
        .form-wrapped.pad-a-bit
          %h1
            = t(:'membership/configuration/membership/section_title')

          %a.pure-button.button.button-primary{:href => '/admin/config/email'}
            %i.fa.fa-envelope= ""
            = t(:'membership/configuration/membership/email')

          %a.pure-button.button.button-primary{:href => '/admin/config/kaupapa'}
            %i.fa.fa-comment= ""
            = t(:'membership/configuration/membership/kaupapa')

          %a.pure-button.button.button-primary{:href => '/admin/config/welcome-email'}
            %i.fa.fa-envelope-o= ""
            = t(:'membership/configuration/membership/welcome_email')

      .pure-u-1.pure-u-md-1-2
        .form-wrapped.pad-a-bit
          %h1
            = t(:'membership/configuration/site/section_title')
          
          %a.pure-button.button.button-primary{:href => '/admin/config/dashboard-content'}
            %i.fa.fa-file-text-o= ""
            = t(:'membership/configuration/site/dashboard_content')
          
          %a.pure-button.button.button-primary{:href => '/admin/config/quick-links'}
            %i.fa.fa-external-link= ""
            = t(:'membership/configuration/site/quick_links')

          %a.pure-button.button.button-primary{:href => '/admin/config/announcements'}
            %i.fa.fa-bullhorn= ""
            = t(:'membership/configuration/site/announcements')

