%form.pure-form.pure-form-stacked.auth-form#u2f-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'keyname', :value => @name}
  %input{:type => 'hidden', :name => 'confirm', :value => '1'}

  %input#u2f-response{:type => 'hidden', :name => 'response'}
  %div#u2f-data{:style => 'display:none'}
    &= JSON.generate({mode: 'register', reg_requests: @reg_requests, sign_requests: @sign_requests, app_id: @app_id, messages: @messages})

  %p#u2f-message
    = t :'mfa_key/status/initialising'

  %a.pure-button.button{:href => '/user/mfa/key'}
    %i.fa.fa-chevron-left= ""
    = t(:'userprofile/mfa/key/register/do/cancel')
