%form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'keyid', :value => @key.id}
  %input{:type => 'hidden', :name => 'confirm', :value => '1'}
  %p= t(:'userprofile/mfa/key/remove/content', :name => @key.name)

  %label.sr-only{for: 'password'}= t(:'userprofile/mfa/key/remove/password')
  %input#password{name: 'password', type: 'password', required: true, autocomplete: 'current-password', placeholder: t(:'userprofile/mfa/key/remove/password')}

  %button.pure-button.button.button-error{:type => 'submit'}
    %i.fa.fa-times= ""
    = t(:'userprofile/mfa/key/remove/submit')

  %a.pure-button.button.button-primary{:href => '/user/mfa/key'}
    %i.fa.fa-chevron-left= ""
    = t(:'userprofile/mfa/key/remove/cancel')
