#auth-signup
  #auth-signup-content
    %p= t :'auth/signup/disabled/content'

    %div{:style => 'text-align:center'}
      %a#auth-signup-invite-toggle.small.dimmed{href: '#', :style => 'display:none'}
        = t(:'auth/signup/invite/title')

  #auth-signup-invite-entry
    %p= t(:'auth/signup/invite/content')
    %form.pure-form.pure-form-stacked.auth-form{method: 'GET'}
      %label.sr-only{for: 'invite'}= t(:'auth/signup/invite/code')
      %input#invite{type: 'text', name: 'invite', placeholder: t(:'auth/signup/invite/code'), autocomplete: 'off'}
      %button.pure-button.button.button-primary{type: 'submit'}
        %i.fa.fa-id-card= ""
        = t(:'auth/signup/invite/submit')
