.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => '/admin/branch'}
      %i.fa.fa-chevron-left= ""
      Back to branch list

    - if @branch_is_default
      %p
        %i.fa.fa-star= ""
        = t(:'membership/branch/edit/is_default')
      
    .pure-g
      .pure-u-1.pure-u-md-1-2
        .form-wrapped.margin-x
          %h1= t(:'membership/branch/edit/actions/title')

          -# XXX: change this for multiple membership statuses?
          - %w[member supporter].each do |status|
            %form.form-wrapped{:method => 'GET', :action => '/admin/user/search'}
              %input{:type => 'hidden', :name => 'searchtype', :value => 'branch'}
              %input{:type => 'hidden', :name => 'query', :value => "#{@branch.id.to_s}:#{status}"}

              %button.pure-button{:type => 'submit'}
                %i.fa.fa-search= ""
                = t(:'membership/branch/edit/actions/list_status', :status => t("membership_status/#{status}".to_sym))

          %a.pure-button.button{:href => "/admin/branch/meetings/#{@branch.id.to_s}"}
            %i.fa.fa-list
            = t(:'membership/branch/edit/actions/list_meetings')

          %form.form-wrapped{:method => 'POST'}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %input{:type => 'hidden', :name => 'action', :value => 'export'}
            %button.pure-button.button{:type => 'submit'}
              %i.fa.fa-envelope= ""
              = t(:'membership/branch/edit/actions/attendance_export')

      .pure-u-1.pure-u-md-1-2
        .margin-x
          %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %input{:type => 'hidden', :name => 'action', :value => 'name_change'}
            %h1= t(:'membership/branch/edit/name_change/title')

            %label{:for => 'name'}= t(:'membership/branch/edit/name_change/field')
            %input#name{:name => 'name', :type => 'text', :placeholder => t(:'membership/branch/edit/name_change/field'), :value => @branch_name, :required => true}

            %button.pure-button.button-primary{:type => 'submit'}
              %i.fa.fa-pencil= ""
              = t(:'membership/branch/edit/name_change/submit')
