.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button-success{:href => '/admin/branch/new'}
      %i.fa.fa-plus= ""
      = t(:'membership/branch/new/title')

    %ul.block-list.admin-branch-list
      - @branches.each do |b|
        %li.admin-branch
          .admin-branch-name
            %strong
              &= b[:name]

          .admin-branch-meta
            %ul.inline-list
              - b[:counts].each do |status, count|
                %li
                  = succeed ':' do
                    = t("membership_status/#{status}/plural".to_sym)
                  %code
                    &= count

              %li
                = succeed ':' do
                  ID
                %code
                  &= b[:id]

              - if b[:is_default]
                %li
                  %i.fa.fa-star= ""
                  = t(:'membership/branch/default')

            .block-list-form.admin-branch-actions
              %a.pure-button.button.button-primary{:href => "/admin/branch/edit/#{b[:id]}"}
                %i.fa.fa-folder-open-o= ""
                = t(:'membership/branch/item/actions/view_branch')
