.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %a.pure-button.button{:href => '/admin/branch'}
      %i.fa.fa-chevron-left= ""
      = t :back

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= @title

      %label{:for => "name"}= t(:'membership/branch/new/name')
      %input#name{:type => "text", :name => "name", :required => true, :placeholder => t(:'membership/branch/new/name')}

      %button.pure-button.button-primary{:type => "submit"}
        %i.fa.fa-plus= ""
        = t(:'membership/branch/new/submit')
