.groupadmin-index
  %h1= @title

  - @groups_by_type.each do |type, groups|
    .form-wrapped
      %h1
        &= t("group/type/#{type}/plural".to_sym)

      %ul.block-list
        - groups.each do |cid, c|
          %li
            .groupadmin-group-name
              %strong
                &= c[:name]

              - unless c[:is_joinable]
                %span.badge
                  %i.fa.fa-lock= ""
                  = t(:'groupadmin/list/attr/secret')
            
            .groupadmin-group-data
              %ul.inline-list
                %li
                  = succeed ': ' do
                    = t(:'groupadmin/list/members')
                  %code
                    &= c[:member_count]
                
                %li
                  = succeed ': ' do
                    = t(:'groupadmin/list/creation')
                  %code
                    &= c[:instance].creation.strftime("%Y-%m-%d %H:%M")

            .block-list-form
              %a.pure-button.button-primary{:href => c[:link]}
                %i.fa.fa-folder-open-o= ""
                = t(:'groupadmin/list/view')

