.usergroups-join-list
  %h1= @title

  %a.pure-button.button{:href => '/ugroups'}
    %i.fa.fa-chevron-left= ""
    = t(:'back')

  - if @joinable.empty?
    .message.message-warning
      = t(:'usergroups/joinable/none')

  - @joinable_typed.each do |type, groups|
    .form-wrapped
      %h1= t("group/type/#{type}/plural".to_sym)

      %ul.block-list.usergroups-joinable-list
        - groups.each do |gr|
          %li
            .usergroups-joinable-name
              %strong
                &= gr[:name]

            - unless gr[:description].nil? || gr[:description].empty?
              .usergroups-joinable-desc
                &= gr[:description]

            .block-list-form.usergroups-joinable-actions
              %a.pure-button.button.button-primary{:href => "/ugroups/join/#{gr[:group_id]}"}
                %i.fa.fa-sign-in= ""
                = t(:'usergroups/joinable/item/join_group')

