%nav.auth-header><
  %ul.pure-menu-list.auth-header-list.auth-header-end><
    - if @auth_header_hide_home
      %li.pure-menu-item.navbar-item><
        %span.pure-menu-link><
          &= site_name

    - else 
      %li.pure-menu-item.navbar-item><
        %a.pure-menu-link.navbar-link{:href => '/'}><
          %span{:title => t(:'home'), :alt => t(:'home')}><
            %i.fa.fa-home= ""
            = " "
            &= site_name

    - if settings.development?
      %li.pure-menu-item.navbar-item><
        %span.pure-menu-link{:style => 'background-color: #a00 !important'}><
          DEVELOPMENT MODE

  %ul.pure-menu-list.auth-header-list.auth-header-end><
    - if logged_in?
      %li.pure-menu-item.navbar-item><
        %span.pure-menu-link><
          &= current_user.email

      - unless @auth_header_hide_links
        %li.pure-menu-item.navbar-item><
          %a.pure-menu-link.navbar-link{:href => "/auth/logout"}><
            %i.fa.fa-sign-out><= ""
            = " "
            = t(:'auth/logout/title')

    - else
      - unless @auth_header_hide_links
        %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current?('/auth'))}><
          %a.pure-menu-link.navbar-link{:href => "/auth"}><
            %i.fa.fa-sign-in= ""
            = " "
            = t(:'auth/login/title')

        %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if current?('/auth/signup'))}><
          %a.pure-menu-link.navbar-link{:href => "/auth/signup"}><
            %i.fa.fa-user-o= ""
            = " "
            = t(:'auth/signup/title')
