.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    - unless @has_2fa
      .message.message-error
        = t :'system/grant/edit/errors/no_mfa'

    = haml :'system/grant/role_list'

    .form-wrapped
      %h1= t(:'system/grant/edit/list_title')

      %ul.block-list
        - @user.get_roles.each do |r|
          %li
            .system-role-role
              %code
                &= r[:role]

            .system-role-meta
              %ul.inline-list
                %li
                  = succeed ': ' do
                    UHR ID
                  %code
                    &= r[:id]

            .block-list-form
              %form.inline-form{method: "POST", action: '/system/grant/edit'}
                %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                %input{:type => "hidden", :name => "action", :value => "delete"}
                %input{:type => "hidden", :name => "uid", :value => @user.id.to_s}
                %input{:type => "hidden", :name => "role", :value => r[:role]}

                %button.pure-button.button-error{:type => 'submit'}
                  %i.fa.fa-trash= ''
                  = t(:'system/grant/edit/remove/submit')

    - if @has_2fa
      %form.pure-form.pure-form-stacked.form-wrapped{method: 'POST', action: '/system/grant/edit'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => "hidden", :name => "action", :value => "add"}
        %input{:type => "hidden", :name => "uid", :value => @user.id.to_s}
        %h1= t(:'system/grant/edit/add/title')

        %label{:for => "role-input"}= t(:'system/grant/edit/add/field')
        %input#role-input{:type => "text", :name => "role"}

        %button.pure-button.button-primary{:type => "submit"}
          %i.fa.fa-plus= ""
          = t(:'system/grant/edit/add/submit')
