.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/system/grant/list?type=all'}
      %i.fa.fa-list= ""
      = t(:'system/grant/all_with_roles')
    
    .pure-g
      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => 'GET', :action => '/system/grant/edit'}
          %h1= t(:'system/grant/by_uid/title')
          
          %label.sr-only{:for => 'user_id'}= t(:'system/grant/by_uid/uid')
          %input#user_id{:type => 'text', :name => 'uid', :placeholder => t(:'system/grant/by_uid/uid')}
          
          %button.pure-button.button.button-primary{:type => 'submit'}
            = t(:'system/grant/by_uid/submit')

      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => 'GET', :action => '/system/grant/list'}
          %input{:type => 'hidden', :name => 'type', :value => 'role'}
          %h1= t(:'system/grant/by_role/title')

          %label.sr-only{:for => 'role'}= t(:'system/grant/by_role/role')
          %input#role{:type => 'text', :name => 'role', :placeholder => t(:'system/grant/by_role/role')}
          
          %button.pure-button.button.button-primary{:type => 'submit'}
            = t(:'system/grant/by_role/submit')
