.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/system/grant'}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

    %p
      = succeed ':' do
        = t(:'system/grant/search/criteria/title')

      %code
        - if @criteria.last.nil?
          = t("system/grant/search/criteria/#{@criteria.first}".to_sym)

        - else
          = succeed ':' do
            = t("system/grant/search/criteria/#{@criteria.first}".to_sym)
          = @criteria.last.to_s

    %ul.block-list
      - @users.values.each do |u|
        %li
          .system-grant-list-user
            %ul.inline-list
              %li
                %strong
                  &= u[:name]
              %li
                = succeed ':' do
                  = t(:'user_id')
                %code
                  &= u[:user].id

          .system-grant-list-roles
            %ul
              - u[:roles].map(&:role).each do |r|
                %li
                  %code
                    &= r

          .block-list-form.system-grant-list-edit
            %form.inline-form{method: "GET", action: '/system/grant/edit'}
              %input{type: "hidden", name: "uid", value: u[:user].id.to_s}
              %button.pure-button{:type => 'submit'}
                %i.fa.fa-pencil= ''
                = t(:'system/grant/search/results/edit_link')
