.form-wrapped
  %h1 Available roles
  %p
    The following roles are available:

    %ul
      %li
        %strong Membership administration:
        %ul
          %li
            %code admin:*
            Allows all membership administration tasks
          %li
            %code admin:alert_emails
            Enables membership administration alerts for this user

      %li
        %strong Branch administration:
        %ul
          %li
            %code branch:access
            Allows access to the branch administration panel. This role must be
            given if you are granting access to a below role that is not
            %code branch:*
          %li
            %code branch:[branch id]:*
            Allows administrative access to the given branch ID
          %li
            %code branch:*
            Allows access to all branch administration

      %li
        %strong Mass emailing:
        %ul
          %li
            %code email:access
            Allows access to the mass emailing panel. This role must be given if
            you are granting email access to a below role that is not
            %code email:*
          %li
            %code email:branch:[branch id]
            Allows emailing to the given branch
          %li
            %code email:all_groups
            Allows emailing to all available groups
          %li
            %code email:members
            Allows emailing to all members and supporters
          %li
            %code email:*
            Allows emailing all targets

      %li
        %strong System administration:
        %ul
          %li
            %code system:use_during_maintenance
            Allow this user to use the site in maintenance mode
          %li
            %code system:*
            Allows all system administration tasks
          %li
            %code system:alert_emails
            Enables system administration alert emails for this user
