.usergroups-index
  %h1= @title

  %a.pure-button.button.button-success{:href => '/ugroups/join'}
    %i.fa.fa-list= ""
    = t(:'usergroups/see_joinable')

  - if @my_groups.empty?
    .message.message-warning
      = t(:'usergroups/list/none')

  - @my_groups_typed.each do |type, groups|
    - unless groups.empty?
      .form-wrapped
        %h1= t("group/type/#{type}/plural".to_sym)

        %ul.block-list.usergroups-member-of-list
          - groups.each do |gr|
            %li
              .usergroups-member-of-name
                %strong
                  &= gr[:name]

                - if gr[:secret]
                  %span.badge
                    %i.fa.fa-lock= ""
                    = t(:'usergroups/list/attr/secret')

                - if gr[:user_group_roles].include?('admin')
                  %span.badge
                    %i.fa.fa-star
                    = t(:'usergroups/list/attr/admin')

              .usergroups-member-of-meta
                %ul.inline-list
                  %li
                    = succeed ': ' do
                      = t(:'usergroups/list/meta/joined')
                    %code
                      &= gr[:user_group_member].creation.strftime("%Y-%m-%d %H:%M")

              .block-list-form.usergroups-member-of-actions
                %a.pure-button.button.button-primary{:href => "/ugroups/view/#{gr[:group_id]}"}
                  %i.fa.fa-folder-open-o= ""
                  = t(:'usergroups/list/actions/view')

                - if gr[:discourse_link]
                  %a.pure-button.button{:href => gr[:discourse_link]}
                    %i.fa.fa-comment-o= ""
                    = t(:'usergroups/list/actions/discourse')
