- if EARMMS.app_config['group-user-panel-user-settings-integration']
  .pure-g
    .pure-u-1.pure-u-md-1-4
      = haml :'user_settings/sidebar'

    .pure-u-1.pure-u-md-3-4
      = yield

- else
  = yield
