%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'group', :value => @group.id}

  %p
    = t(:'usergroups/leave/content', :group => @group_h[:name])
    
  %label{:for => "confirm"}
    %input#confirm{:type => 'checkbox', :name => 'confirm', :checked => false, :required => true}
    = t(:'usergroups/leave/checkbox')
    
  %div{:style => 'height:1em'}= ""
    
  %button.pure-button.button.button-error{:type => 'submit'}
    %i.fa.fa-sign-out= ""
    = t(:'usergroups/leave/submit')
    
  %a.pure-button.button.button-primary{:href => "/ugroups/view/#{@group.id}"}
    %i.fa.fa-chevron-left= ""
    = t(:'usergroups/leave/cancel')
