.usergroups-view
  %h1= @title

  %a.pure-button.button{:href => '/ugroups'}
    %i.fa.fa-chevron-left= ""
    = t(:'back')

  .pure-g
    .pure-u-1.pure-u-lg-1-2
      .form-wrapped.margin-x
        %h1= t(:'usergroups/view/description')

        .usergroups-view-description
          &= @group_h[:description]

      - unless @group_h[:agreement].nil? || @group_h[:agreement].empty?
        %div{:style => 'height:1em'}= ""

        .form-wrapped.margin-x
          %h1= t(:'usergroups/view/agreement')

          .usergroups-view-agreement
            &= @group_h[:agreement]

    .pure-u-1.pure-u-lg-1-2
      .form-wrapped.margin-x
        %h1= t(:'usergroups/view/actions/section_title')

        - if @group_h[:user_group_roles].include?('admin')
          %a.pure-button.button.button-primary{:href => "/group/edit/#{@group_h[:group_id]}"}
            %i.fa.fa-pencil= ""
            = t(:'usergroups/view/actions/group_admin')

        - if @group_h[:discourse_link]
          %a.pure-button.button.button-primary{:href => @group_h[:discourse_link]}
            %i.fa.fa-comment-o= ""
            = t(:'usergroups/view/actions/discourse')

        %form.pure-form.pure-form-stacked{:method => 'POST', :action => '/ugroups/leave'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'group', :value => @group_h[:group_id]}
          %button.pure-button.button.button-error{:type => 'submit'}
            %i.fa.fa-sign-out= ""
            = t(:'usergroups/view/actions/leave')


