%form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %p= t(:'userprofile/mfa/disable/do/content')

  %label.sr-only{for: 'password'}= t(:'userprofile/mfa/disable/do/password')
  %input#password{name: 'password', type: 'password', required: true, autocomplete: 'current-password', placeholder: t(:'userprofile/mfa/disable/do/password')}

  %button.pure-button.button.button-error{:type => 'submit'}
    %i.fa.fa-times= ""
    = t(:'userprofile/mfa/disable/do/submit')

  %a.pure-button.button.button-primary{:href => '/user/mfa'}
    %i.fa.fa-chevron-left= ""
    = t(:'userprofile/mfa/disable/do/cancel')
