.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    - if @enhanced
      .message.message-warning
        = t :'userprofile/mfa/enhanced_security'

    .pure-g
      .pure-u-1.pure-u-md-1-2
        .form-wrapped.margin-x
          %h1= t(:'userprofile/mfa/totp/title')

          - if @enhanced
            %p= t(:'userprofile/mfa/totp/enhanced')

          - unless @enhanced
            %p= t(:'userprofile/mfa/totp/content/one')
            %p= t(:'userprofile/mfa/totp/content/two')

            %a.pure-button.button{:href => '/user/mfa/totp'}
              %i.fa.fa-mobile-phone= ""
              = t(:'userprofile/mfa/totp/register')

        .form-wrapped.margin-x
          %h1= t(:'userprofile/mfa/key/title')
          %p= t(:'userprofile/mfa/key/content', count: @u2f_count)

          %a.pure-button.button{:href => '/user/mfa/key'}
            %i.fa.fa-key= ""
            = t(:'userprofile/mfa/key/view')

      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => 'POST', :action => '/user/mfa/recovery'}
          %h1= t(:'userprofile/mfa/recovery/title')

          - if @enhanced
            %p= t(:'userprofile/mfa/recovery/enhanced')

          - unless @enhanced
            - if !@has_recovery
              .message.message-warning
                = t(:'userprofile/mfa/recovery/none_yet')

            %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
            %p= t(:'userprofile/mfa/recovery/content')

            %button.pure-button.button.button-primary{:type => 'submit'}
              %i.fa.fa-file-text-o= ""
              = t(:'userprofile/mfa/recovery/submit')

        .form-wrapped.margin-x
          %h1= t(:'userprofile/mfa/disable/title')

          - if @has_roles
            %p= t(:'userprofile/mfa/disable/errors/have_roles')

          - else
            %p= t(:'userprofile/mfa/disable/content')

            %a.pure-button.button.button-error{href: '/user/mfa/disable'}
              %i.fa.fa-key= ""
              = t(:'userprofile/mfa/disable/submit')
