.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    .form-wrapped
      %h1= t(:'userprofile/mfa/enable/title')
      %p= t(:'userprofile/mfa/enable/content')

      %a.pure-button.button.button-primary{:href => '/user/mfa/totp'}
        %i.fa.fa-key= ""
        = t(:'userprofile/mfa/enable/submit')
