.pure-g
  .pure-u-1.pure-u-md-1-2
    .auth-column
      .auth-column-inner
        %img{:src => @qrcode}

        .small.dimmed
          %p
            = succeed ':' do
              = t(:'userprofile/mfa/totp/setup/base32')

          %p
            %code
              - code_display = @secret.split('').each_slice(4).to_a.map(&:join).join(' ')
              &= code_display

  .pure-u-1.pure-u-md-1-2
    .auth-column
      .auth-column-inner
        %form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

          %p
            = t(:'userprofile/mfa/totp/setup/content/one')
          %p
            = t(:'userprofile/mfa/totp/setup/content/two')
          %p
            = t(:'userprofile/mfa/totp/setup/content/three')

          %label{:for => 'code'}
            = t(:'userprofile/mfa/totp/setup/code')

          %input#code{:type => "text", :name => "code", :placeholder => "123456", :autofocus => true, :autocomplete => 'one-time-code'}

          %button.pure-button.button.button-primary{:type => 'submit'}
            %i.fa.fa-arrow-right= ""
            = t :'userprofile/mfa/totp/setup/submit'

        %form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'cancel', :value => '1'}

          %button.pure-button.button.button-error{:type => 'submit'}
            %i.fa.fa-times= ""
            = t :'userprofile/mfa/totp/setup/cancel'
