.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/branch/meetings/#{@branch.id}/#{@meeting[:id]}"}
      %i.fa.fa-chevron-left
      = t :back

    - if @attendance.empty?
      .message.message-warning
        = t :'membership/branch/meetings/attendance/none'

    - else
      %form.inline-form{:method => 'POST', :action => "/admin/branch/meetings/attendance/#{@branch.id}/#{@meeting[:id]}/export"}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-envelope-o= ""
          = t :'membership/branch/meetings/attendance/actions/export'

      %ul.membership-admin-attendance-list
        - @attendance.each do |entry|
          %li
            .membership-admin-attendance-name
              %a{:href => "/admin/user/edit/#{entry[:user].id}"}
                %strong
                  &= entry[:user_name]
              %span
                = surround '(', ')' do
                  &= "ID #{entry[:user].id}"

            .membership-admin-attendance-status
              = succeed ':' do
                = t :'membership/branch/meetings/attendance/status'

              %span
                = entry[:status][:friendly]
