.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/branch/edit/#{@branch.id}"}
      %i.fa.fa-chevron-left
      = t :back

    %ul.membership-admin-branch-meetings-list
      - @meetings.each do |meeting|
        %li
          %a{:href => "/admin/branch/meetings/#{@branch.id}/#{meeting[:id]}"}
            = t :'meeting/at_time', :datetime => meeting[:datetime]
