.auth-layout
{
  margin: $auth_margin;
  padding: $auth_padding;
  border: $auth_border;
  border-radius: $auth_border_radius;
  width: calc(100vw - (#{$auth_margin} * 3));

  &.auth-layout-small
  {
    max-width: $auth_small_width;
  }

  &.auth-layout-medium
  {
    max-width: $auth_medium_width;
  }

  &.auth-layout-large
  {
    max-width: $auth_large_width;
  }
  
  &.auth-layout-xlarge
  {
    max-width: $auth_xlarge_width;
  }
  
  &.auth-layout-fullwidth
  {
    max-width: 100vw;
    margin: $auth_margin;
  }

  &.auth-layout-centered
  {
    margin: $auth_margin auto !important;
  }

  h1
  {
    font-size: $auth_title_font_size;
    margin: 0 0 1em 0;
    text-align: center;
  }

  .auth-form
  {
    input:not([type = 'checkbox']),
    textarea,
    select,
    button,
    a.button
    {
      width: 100%;
    }

    button,
    a.button
    {
      margin-bottom: 1em;
    }
  }

  ul.auth-options
  {
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid $body_dimmed;

    a
    {
      color: $body_link;

      &:focus, &:hover
      {
        color: inherit;
      }
    }
  }
}

.auth-column
{
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;

  .auth-column-inner
  {
    margin: 0;
    padding: $std_margin;

    p
    {
      text-align: center;
    }

    img
    {
      display: block;
      margin: 0 auto;
    }
  }
}

