.body-footer
{
  @media print
  {
    display: none !important;
  }

  text-align: center;
  margin: 1em 0;

  font-size: 0.8em;
  color: $body_dimmed;

  a
  {
    color: $body_dimmed !important;

    &:hover, &:focus
    {
      color: inherit !important;
    }
  }

  form
  {
    margin: 0.5em 0;
  }
}
