.pagination
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  
  .pagination-prev,
  .pagination-next
  {
    width: auto;
  }
  
  .pagination-count
  {
    text-align: center;
  }
}
