.rich-text-container
{
  width: 768px;
  max-width: 100%;

  margin: 1em;
  padding: 1em;

  &:not(.rich-text-nocenter)
  {
    @media screen and (min-width: 768px)
    {
      margin: 0 auto;
    }
  }

  border: 1px solid #000;
  border-radius: 4px;
}
