.branch-admin-meeting-attendance
{
  .branch-admin-meeting-attendance-user
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: .5em .5em 0 .5em;
    margin: .5em 0;

    @media screen and (min-width: $responsive_width)
    {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 0 .5em;
      margin: .375em 0;
    }

    &:nth-child(2n)
    {
      background: rgba(0, 0, 0, 0.1);
    }

    .branch-admin-meeting-attendance-user-status
    {
      margin: 1em 0 0 0;
      width: 100%;

      @media screen and (min-width: $responsive_width)
      {
        margin: .375em 0 0 0;
        width: 300px;
      }
    }
  }
}
