#is-discard
{
  margin: 1em 0 0 0;

  .button
  {
    margin: 0;
  }
}

.is-titlebox
{
  margin: 2em 0;

  h1
  {
    text-align: center;
    margin: 0 0 1em 0;
  }
}

.is-blob-entry
{
  height: 16rem;
  font-family: monospace;
}

.is-prog-container
{
  margin: 0 1em 0 0;

  h1
  {
    font-size: 1.125rem;
    font-weight: bold;

    border-bottom: 1px solid #ccc;
    margin: 0 0 0.5rem 0;
    padding: 0 0.25rem;
  }

  .is-prog-list
  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
    align-items: flex-start;

    list-style: none outside none;
    margin: 0;
    padding: 0;

    .is-prog-step
    {
      margin: 0.25em;

      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: baseline;
    }

    .is-prog-step-icon
    {
      background: #fff;
      color: #000;
      border: 1px solid #000;
      border-radius: 4px;

      display: block;
      padding: 0.25em 0.4125em;
      height: 1.6125em;

      &.is-prog-step-current
      {
        background: $symbolic_warning_background;
      }

      &.is-prog-step-complete
      {
        background: lighten($symbolic_success_background, 50%);
      }
    }

    .is-prog-step-friendly
    {
      margin: 0 0 0 0.5rem;
    }
  }
}
