/* General variables */
$responsive_width: 48em;
$font_stack: sans-serif;
$std_margin: 1rem;
$std_border_radius: 4px;

/* Body */
$body_foreground: #000;
$body_background: #fff;
$body_link: #25b;
$body_dimmed: #777;

/* Auth header */
$auth_header_foreground: #fff;
$auth_header_background: #333;
$auth_header_background_focus: #666;
$auth_header_border_colour: #aaa;
$auth_header_border: 2px solid $auth_header_border_colour;
$auth_header_font_size: 0.8em;

/* Navbar */
$navbar_foreground: #777;
$navbar_background: #f2f2f2;
$navbar_border: #ccc;
$navbar_hover_foreground: $navbar_foreground;
$navbar_hover_background: #fff;
$navbar_selected_foreground: #000;
$navbar_selected_background: #fff;

/* Badges */
$badge_foreground: $navbar_foreground;
$badge_background: $navbar_background;
$badge_border: $navbar_border;

/* Sidebar menus */
$menu_foreground: $navbar_foreground;
$menu_background: $navbar_background;
$menu_selected_foreground: $navbar_selected_foreground;
$menu_selected_background: $navbar_selected_background;

/* Blockquote stuff */
$blockquote_quote_color: $body_dimmed;
$blockquote_left_margin: 1em;
$blockquote_left_border: 6px solid $blockquote_quote_color;

/* Quick links */
$quick_links_tile_width: 15rem;
$quick_links_tile_height: 8rem;
$quick_links_tile_padding: 0.625rem;
$quick_links_tile_margin: 0.25rem;
$quick_links_tile_icon_size: 1.25rem;
$quick_links_tile_border_radius: 0.5rem;
$quick_links_tile_border: 1px solid $body_dimmed;
$quick_links_tile_text_shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
$quick_links_tile_dark_colour: #000;
$quick_links_tile_dark_text_shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);

/* Auth layout */
$auth_margin: $std_margin;
$auth_padding: $std_margin;
$auth_border: 1px solid $body_dimmed;
$auth_border_radius: $std_border_radius;
$auth_small_width: 32rem;
$auth_medium_width: 48rem;
$auth_large_width: 56rem;
$auth_xlarge_width: 64rem;
$auth_title_font_size: 1.25rem;

/* Symbolic colors */
$symbolic_success_background: #0b0;
$symbolic_success_foreground: #dfb;
$symbolic_success_border: #12e512;

$symbolic_warning_background: #fec;
$symbolic_warning_foreground: #860;
$symbolic_warning_border: #fea;

$symbolic_error_background: #b00;
$symbolic_error_foreground: #fcc;
$symbolic_error_border: #e51212;
