.zxcvbn-result
{
  display: none;

  &.loaded
  {
    display: block;
  }

  .zxcvbn-score-bar
  {
    height: .75em;
    background: $symbolic_error_background;
    border-radius: 2px;
    border: 2px solid $symbolic_error_border;

    width: 1%;

    &[data-zxcvbn-score = "1"]
    {
      background: $symbolic_error_background;
      border-color: $symbolic_error_border;
      width: 25%;
    }

    &[data-zxcvbn-score = "2"]
    {
      background: $symbolic_warning_background;
      border-color: $symbolic_warning_border;
      width: 50%;
    }

    &[data-zxcvbn-score = "3"]
    {
      background: $symbolic_warning_background;
      border-color: $symbolic_warning_border;
      width: 75%;
    }

    &[data-zxcvbn-score = "4"]
    {
      background: $symbolic_success_background;
      border-color: $symbolic_success_border;
      width: 100%;
    }
  }

  .zxcvbn-score-text
  {
    margin-top: .25em;
    font-size: .8em;
    color: #999;
  }

  .zxcvbn-warnings
  {
    margin-top: .5em;
    padding: .5em .75em;

    background: $symbolic_warning_background;
    color: $symbolic_warning_foreground;
    border: $symbolic_warning_border;
    border-radius: 2px;
  }

  .zxcvbn-suggestions
  {
    margin-top: .5em;
  }
}
