%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

  %p= t(:'auth/account_delete/start/content')

  %label.sr-only{for: "email"}= t(:email_address)
  %input#email{type: "email", name: "email", required: true, placeholder: t(:email_address), autofocus: true}

  %button.pure-button.button.button-primary{type: "submit"}
    %i.fa.fa-arrow-right= ""
    = t(:'auth/account_delete/start/submit')
