.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/system/apitokens'}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

    - @user_map.each do |uid, name|
      .form-wrapped
        %h1= t(:'system/apitokens/all/list/section_title', :uid => uid, :name => name)

        - @all_apitokens[uid].each do |t|
          %ul.system-apitokens-list.block-list
            - @my_apitokens.each do |t|
              %li.system-apitokens-entry
                .system-apitokens-name
                  %strong
                    &= t[:name]

                .system-apitokens-meta 
                  %ul.inline-list
                    %li
                      = succeed ': ' do
                        = t(:'system/apitokens/list/item/id')
                      %code
                        &= t[:id]

                    %li
                      = succeed ': ' do
                        = t(:'system/apitokens/list/item/created')
                      %code
                        &= t[:created].strftime("%Y-%m-%d %H:%M")

                    %li
                      = succeed ': ' do
                        = t(:'system/apitokens/list/item/expiry')
                      %code
                        - if t[:expiry]
                          &= t[:expiry].strftime("%Y-%m-%d %H:%M")
                        - else
                          = t(:'never_expires')

                .system-apitokens-actions.block-list-form
                  %form.inline-form{:method => 'POST', :action => '/system/apitokens/revoke'}
                    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                    %input{:type => 'hidden', :name => 'token', :value => t[:id]}
                    %button.pure-button.button.button-error{:type => 'submit'}
                      = t(:'system/apitokens/list/item/actions/revoke')
