.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/system/apitokens'}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      
      %label{:for => 'token_name'}= t(:'system/apitokens/generate/fields/name')
      %input#token_name{:type => 'text', :name => 'name', :required => true, :placeholder => t(:'system/apitokens/generate/fields/name')}

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-plus= ""
        = t(:'system/apitokens/generate/submit')
