.is-titlebox
  %h1= t(:'initial_setup/debugging/title')

.form-wrapped
  %h1= t(:'initial_setup/debugging/status/title')

  %ul.is-debug-statusentries
    - @status_entries.each do |se|
      %li.is-debug-statusentry{:id => "statusentry__#{se[:name]}", :'data-statusentry-name' => se[:name]}
        %strong
          = succeed ': ' do
            &= se[:friendly]

        %code.code_line
          &= se[:value]

.form-wrapped
  %h1= t(:'initial_setup/debugging/data/title')
  %p= t(:'initial_setup/debugging/data/content')

  %code
    %pre
      &= @data_display
