%form#is-discard.form-wrapped{:method => 'POST', :action => '/initialsetup/discard'}
  - if current_step_can_discard
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %button.pure-button.button.button-error{:type => 'submit'}
      %i.fa.fa-trash= ""
      = t(:'initial_setup/discard_and_return/submit')

  - if settings.development?
    .is-debug-links
      - if current?('/initialsetup/debugging')
        %a.pure-button.button.button-primary{:href => '/initialsetup'}
          %i.fa.fa-external-link=""
          &= t(:'initial_setup/debugging/return')
      - else
        %a.pure-button.button.button-warning{:href => '/initialsetup/debugging'}
          %i.fa.fa-cogs= ""
          &= t(:'initial_setup/debugging/enter')

.is-page-flashes
  = render_flashes
