.is-titlebox
  %h1= t(:'initial_setup/title')
  .message.message-warning
    = t(:'initial_setup/discard_and_return/description')

- if @has_v1_keys
  .form-wrapped
    %h1= t(:'initial_setup/upgrade/title')

    %p= t(:'initial_setup/upgrade/index_content/has_upgraded')
    %p= t(:'initial_setup/upgrade/index_content/please_convert')
    %p= t(:'initial_setup/upgrade/index_content/after_convert_start')
    %p= t(:'initial_setup/upgrade/index_content/blank_slate')

    %a.pure-button.button.button-primary{:href => "/initialsetup/upgrade"}
      = t(:'initial_setup/upgrade/start')

.form-wrapped
  %h1= t(:'initial_setup/newinstall/title')
  %p= t(:'initial_setup/newinstall/content')

  %a.pure-button.button{:href => "/initialsetup/newinstall", :class => !@has_v1_keys && "button-primary"}
    = t(:'initial_setup/newinstall/start')
