= haml :'initial_setup/navbar', :layout => false

- mode = @this_upgrade.mode || 'pre-setup'
- status = @this_upgrade.status || 'unknown-status'
.initial-setup-page{:id => "initial-setup__#{mode}__#{status}", :'data-is-mode' => mode, :'data-is-status' => status}
  .pure-g
    .pure-u-1.pure-u-md-1-8= ""
    .pure-u-1.pure-u-md-3-4
      = haml :'initial_setup/header', :layout => false
      = yield
