%form.pure-form.pure-form-stacked.auth-form{:method => "POST", :action => '/initialsetup/force-acquire'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
 
  %p= t(:'initial_setup/lock/locked', user: (@mutex[:mutex]&.user || t(:'unknown')))

  %div{:style => 'height:1em'}= ""
    
  %button.pure-button.button.button-error{:type => 'submit'}
    %i.fa.fa-unlock= ""
    = t(:'initial_setup/lock/force_acquire')
   
