.message.message-warning
  %div= t(:'membership/configuration/refresh/all')
  %div= t(:'membership/configuration/refresh/contact_sysadmin')

.auth-form
  %a.pure-button.button{:href => '/admin/config/quick-links'}
    %i.fa.fa-chevron-left= ""
    = t(:'membership/configuration/quick_links/edit/back')

%form.pure-form.pure-form-stacked.form-wrapped.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'membership/configuration/quick_links/edit/section_title')

  .pure-g
    .pure-u-1.pure-u-lg-1-2
      .margin-x
        %label{:for => 'create-btn-text'}= t(:'membership/configuration/quick_links/create/fields/text')
        %input#create-btn-text{:type => 'text', :name => 'text', :required => true, :placeholder => t(:'membership/configuration/quick_links/create/fields/text'), :value => @selected['text']}

        %label{:for => 'create-btn-link'}= t(:'membership/configuration/quick_links/create/fields/link')
        %input#create-btn-link{:type => 'text', :name => 'link', :required => true, :placeholder => t(:'membership/configuration/quick_links/create/fields/link'), :value => @selected['href']}

        .fieldswitch
          %label{:for => 'create-btn-colour-type'}= t(:'membership/configuration/quick_links/colour/title')
          %select#create-btn-colour-type.fieldswitch-select{:name => 'colour-type'}
            - types = %w[primary success warning error]
            - types.each do |ct|
              %option{:value => ct, :selected => @selected['colour'] == ct}
                = t(:'membership/configuration/quick_links/colour/type', :type => ct)
            %option{:value => 'custom', :selected => !(types.include?(@selected['colour']))}
              = t(:'membership/configuration/quick_links/colour/custom')

          .fieldswitch-field{:'data-type' => 'custom'}
            %label{:for => 'create-btn-colour-custom'}= t(:'membership/configuration/quick_links/colour/custom')
            %input#create-btn-colour-custom{:name => 'colour', :type => 'text', :placeholder => t(:'membership/configuration/quick_links/colour/custom'), :value => @selected['colour']}

        %label{:for => 'create-btn-icon'}
          = t(:'membership/configuration/quick_links/create/fields/icon')
          = surround ' (', ') ' do
            = t(:'membership/configuration/quick_links/create/fields/icon/reference')
        %input#create-btn-icon{:type => 'text', :name => 'icon', :required => true, :placeholder => t(:'membership/configuration/quick_links/create/fields/icon'), :value => @selected['icon']}

        %label{:for => 'create-btn-position'}= t(:'membership/configuration/quick_links/create/fields/position')
        %input#create-btn-position{:type => 'text', :name => 'position', :required => true, :placeholder => t(:'membership/configuration/quick_links/create/fields/position'), :inputmode => "numeric", :pattern => "[0-9]*", :value => @position}

        %label{:for => 'create-only-members'}
          %input#create-only-members{:name => 'only-members', :type => 'checkbox', :checked => @only_members}
          = t(:'membership/configuration/quick_links/create/fields/only_members')

        %div{:style => 'height:1em'}= ""

    .pure-u-1.pure-u-lg-1-2
      .margin-x
        .message.message-warning#create-btn-example-loading
          %i.fa.fa-fw.fa-spin.fa-spinner= ""
          = t(:'membership/configuration/quick_links/create/example/loading')

        %div{:style => 'text-align:center;width:100%;margin-bottom:1em'}
          %strong
            = t(:'membership/configuration/quick_links/create/example/content')

        %style#create-btn-example-style{:type => 'text/css'}= ""
        .ql--container{:class => ["ql--container--style-#{@attributes_parsed["style"]}"]}
          .ql--link-container
            %a.ql--link.pure-button.button#create-btn-example{:href => "#", :'data-defaults' => 'no'}
              %span.ql--icon#create-btn-example-icon= ""
              %span.ql--text#create-btn-example-text= ""

  %button.pure-button.button.button-primary{:type => 'submit'}
    = t(:'membership/configuration/quick_links/edit/submit')

%form.pure-form.pure-form-stacked.form-wrapped.auth-form{:method => 'POST', :action => "/admin/config/quick-links/delete/#{@position}"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'membership/configuration/quick_links/delete/section_title')

  %button.pure-button.button.button-error{:type => 'submit'}
    = t(:'membership/configuration/quick_links/delete/submit')

.async-load{:'data-sources' => JSON.generate(['/static/admquicklinks.bundle.js'])}
