%form.pure-form.pure-form-stacked.auth-form{:method => "POST", :action => '/admin/config/quick-links/release-lock'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'force', :value => '1'}

  %p= t(:'membership/configuration/quick_links/lock/locked/content/one', user: @mutex_user[:name], user_id: @mutex_user[:id])
  %p= t(:'membership/configuration/quick_links/lock/locked/content/two')

  %div{:style => 'height:1em'}= ""

  %button.pure-button.button.button-error{:type => 'submit'}
    %i.fa.fa-unlock= ""
    = t(:'membership/configuration/quick_links/lock/locked/submit')

  %a.pure-button.button.button-primary{:href => '/admin/config'}
    %i.fa.fa-chevron-left= ""
    = t(:'membership/configuration/quick_links/lock/locked/abandon')

