.form-wrapped
  %h1= t(:'initial_setup/upgrade/custom_field_demo/title')
  %p= t(:'initial_setup/upgrade/custom_field_demo/preamble')

  %form
    - @fields.each do |f|
      %label{:for => "profile-#{f[:name]}"}
        = f[:friendly]
        - if f[:required]
          %span.badge.field-required
            = t :'field_required'

      - if f[:type] == "textarea"
        %textarea{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
          &= f[:default]

      - elsif f[:type] == "select"
        %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
          - f[:select_options].each do |opt|
            %option{:value => opt[:name], :selected => f[:default] == opt[:name]}= opt[:friendly]

      - elsif f[:type] == "bool"
        %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
          %option{:value => 'true', :selected => f[:default] == 'true'} Yes
          %option{:value => 'false', :selected => f[:default] == 'false'} No

      - else
        %input{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required], :value => f[:default], :type => f[:type], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}

  %p
    = t(:'initial_setup/upgrade/custom_field_demo/next_step')

  %form.pure-form.pure-form-stacked{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-arrow-right= ""
      = t(:'initial_setup/upgrade/custom_field_demo/submit')
