%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/upgrade/title')
  %p= t(:'initial_setup/upgrade/blob/paste_please')

  %label{:for => 'configblob'}= t(:'initial_setup/upgrade/blob/blob_label')
  %textarea#configblob.is-blob-entry{:name => 'configblob', :required => true}= ""

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-arrow-right= ""
    = t(:'initial_setup/upgrade/blob/submit')
