.form-wrapped
  %h1= t(:'initial_setup/upgrade/change/parse/title')
  %p= t(:'initial_setup/upgrade/change/parse/preamble')
  %p= t(:'initial_setup/upgrade/change/parse/list_below')

  - if @has_warnings
    .message.message-error
      %p= t(:'initial_setup/upgrade/change/parse/warning/content')

      - @warning_sources.each do |key, is_warn|
        - if is_warn
          %p
            = t("initial_setup/upgrade/change/parse/warning/by_source/#{key}".to_sym)
            - if key == :default
              = t(:'earmms/report_this_as_bug')
  - else
    .message.message-success
      = t(:'initial_setup/upgrade/change/parse/success')

  %ul.block-list
    - @output.each do |v|
      %li
        .y-margin-dbl
          - if v[:warnings].count.zero?
            %i.fa.fa-check= ""
          - else
            %i.fa.fa-warning= ""

          %code.code-line
            &= v[:key]

          %span.source
            = t("initial_setup/upgrade/key_source/#{@mockdb[v[:key]][:source].to_s}".to_sym)

          - if v[:warnings].count.positive?
            %ul.block-list
              - v[:warnings].each do |warning|
                %li
                  .y-margin-large
                    %code.code-line
                      &= warning

  %p
    = t(:'initial_setup/upgrade/change/parse/next_step')

  %form.pure-form.pure-form-stacked{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-arrow-right= ""
      = t(:'initial_setup/upgrade/change/parse/submit')
