.admin-alert
  %ul.inline-list.admin-alert-meta
    %li.admin-alert-user
      = succeed ':' do
        = t(:'alerts/alert/from/title')
      - if alert[:user]
        - if has_role?('admin:user:edit')
          %a{:href => "/admin/user/edit/#{alert[:user].id}"}
            = t(:'alerts/alert/from/link', :user => alert[:profile].decrypt(:full_name), :uid => alert[:user].id)
        - else
          = t(:'alerts/alert/from/link', :user => alert[:profile].decrypt(:full_name), :uid => alert[:user].id)
      - else
        = t(:'alerts/alert/from/unknown')

    %li.admin-alert-time-created
      = succeed ':' do
        = t(:'alerts/alert/time/created')
      %time.admin-alert-time-created-ts{:datetime => alert[:created].iso8601}
        = pretty_time_ago alert[:created]

    - if alert[:actioned]
      %li.admin-alert-time-dismissed
        = succeed ':' do
          = t(:'alerts/alert/time/dismissed')
        %time.admin-alert-time-dismissed-ts{:datetime => alert[:actioned_ts].iso8601}
          = pretty_time_ago alert[:actioned_ts]

  %blockquote.blockquote-plain.admin-alert-data
    = EARMMS::Alert.parse_message(alert[:section], alert[:type], alert[:data])

  - unless @alerts[:dismissed]
    %form.admin-alert-dismiss{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => "hidden", :name => 'action', :value => 'dismiss'}
      %input{:type => "hidden", :name => 'alertid', :value => alert[:alertid]}
      %button.pure-button.button-success{:type => 'submit'}
        %i.fa.fa-check= ''
        = t(:'alerts/alert/dismiss')
