- if @alerts[:alerts] == nil || @alerts[:alerts][:alerts] == nil|| @alerts[:alerts][:alerts].length == 0
  %p= t(:'alerts/none')

- else
  %ul.admin-alert-list.admin-alert-list-nongrouped
    - @alerts[:alerts][:alerts].each do |alert|
      %li
        = haml :'alerts/alert', :locals => {:alert => alert}, :layout => false
