-#
  Example usage of this helper template:
  
  ```
  haml :'helpers/pagination', layout: false, locals: {current_page: 2, total_pages: 4, prev_page: "?page=1", next_page: "?page=3"}
  ```

.pagination
  %a.pure-button.pagination-prev{:href => prev_page, :disabled => current_page <= 1}
    %i.fa.fa-chevron-left= ""
    = t :'page/previous'

  %span.pagination-count
    = t :'page/count', :current => current_page, :total => total_pages

  %a.pure-button.pagination-next{:href => next_page, :disabled => current_page >= total_pages}
    %i.fa.fa-chevron-right= ""
    = t :'page/next'
