.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'user_settings/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    .pure-g
      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => "POST"}
          %h1= t(:'userprofile/account/change_email/title')
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'change-email'}

          %label{:for => 'email'}= t :email_address
          %input#email{:type => 'email', :name => "email", :placeholder => t(:email_address), :required => true, :value => current_user.email}

          %label{:for => 'password-changeemail'}
            = t(:'userprofile/account/change_email/password')
          %input#password-changeemail{:type => 'password', :name => 'password', :placeholder => t(:'userprofile/account/change_email/password'), :required => true}

          %button.pure-button.pure-button-primary{:type => "submit"}
            = t(:'userprofile/account/change_email/submit')

      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => "POST"}
          %h1= t(:'userprofile/account/change_password/title')
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'change-password'}

          %p= t(:'userprofile/account/change_password/content')

          %label{:for => 'currentpassword'}
            = t(:'userprofile/account/change_password/current')
          %input#currentpassword{:type => 'password', :name => 'password', :placeholder => t(:'userprofile/account/change_password/current'), :required => true}

          %label{:for => 'newpass1'}
            = t(:'userprofile/account/change_password/newpass')
          %input#newpass1{:type => 'password', :name => 'newpass', :placeholder => t(:'userprofile/account/change_password/newpass'), :required => true, :'data-strength' => 'pwchange-strength'}
          %div#pwchange-strength.zxcvbn-result
            %div.zxcvbn-score-bar= ""
            %div.zxcvbn-score-text= ""
            %div.zxcvbn-warnings= ""
            %div.zxcvbn-suggestions= ""

          %label{:for => 'newpass2'}
            = t(:'userprofile/account/change_password/confirm')
          %input#newpass2{:type => 'password', :name => 'newpass-confirm', :placeholder => t(:'userprofile/account/change_password/confirm'), :required => true}

          %button.pure-button.pure-button-primary{:type => "submit"}
            = t(:'userprofile/account/change_password/submit')

    .form-wrapped
      %h1= t(:'userprofile/account/delete/title')

      %p= t(:'userprofile/account/delete/content')

      %a.pure-button.button.button-error{:href => '/auth/account-delete'}
        %i.fa.fa-trash= ""
        = t(:'userprofile/account/delete/submit')

.body-footer
  %p
    %span
      = succeed ': ' do
        = t(:'user_id')
      &= @user.id

.async-load{:'data-sources' => JSON.generate(['/static/pwstrength.bundle.js'])}
