%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'proceed', :value => '1'}

  %p
    = t(:'userprofile/account/delete/do/content/one')
    
  %p
    - code_display = @verify_code.split('').each_slice(3).to_a.map(&:join).join('-')
    = t(:'userprofile/account/delete/do/content/two', :verify_code => code_display)
  
  %label{:for => "password"}
    = succeed ':' do
      = t(:'userprofile/account/delete/do/password')
  %input#password{:type => "password", :name => "password", :required => true, :placeholder => t(:'userprofile/account/delete/do/password'), :autofocus => true}

  %div{:style => 'height:1em'}= ""
  
  %label{:for => "verify"}
    = succeed ':' do
      = t(:'userprofile/account/delete/do/verification_code')
  %input#verify{:type => "text", :name => "verify", :required => true, :placeholder => '123456789'}

  %div{:style => 'height:1em'}= ""
  
  %button.pure-button.button.button-error{:type => "submit"}
    %i.fa.fa-trash= ""
    = t(:'userprofile/account/delete/do/submit')

  %a.pure-button.button{:href => '/user/account'}
    %i.fa.fa-chevron-left= ""
    = t(:'userprofile/account/delete/do/cancel')
