%ul.page-sidebar
  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?("/user"))}
    %a.page-sidebar-link{:href => "/user"}
      = t(:'userprofile/edit/title')

  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/user/membership"))}
    %a.page-sidebar-link{:href => "/user/membership"}
      = t(:'userprofile/membership/title')

  - if EARMMS.app_config['group-user-panel-user-settings-integration']
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/ugroups"))}
      %a.page-sidebar-link{:href => "/ugroups"}
        = t(:'usergroups/title')

  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?("/user/account"))}
    %a.page-sidebar-link{:href => "/user/account"}
      = t(:'userprofile/account/title')

  %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/user/mfa"))}
    %a.page-sidebar-link{:href => "/user/mfa"}
      = t(:'userprofile/mfa/title')
