%p
  - if @mutexes.empty?
    = t(:'dash/mutex/content/none')
  - else
    = t(:'dash/mutex/content/some')

%ul.block-list.dash-mutexes
  - @mutexes.each do |_, m|
    %li
      %strong
        = t(m[:type][:friendly_tl])
      %span
        = surround '(', ')' do
          &= m[:type][:type]

      %form.block-list-form.dash-mutexes-form{:method => 'POST'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'mutex', :value => m[:type][:type]}
        %button.pure-button{:type => 'submit'}
          %i.fa.fa-unlock= ""
          = t(:'dash/mutex/actions/release')
