.branch-admin-meeting-attendance
  %h1= @title

  %a.pure-button{:href => "/branch/meetings/#{@branch.id}/#{@meeting.id}"}
    %i.fa.fa-chevron-left= ""
    = t(:'back')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    - @users.each do |u|
      .branch-admin-meeting-attendance-user
        .branch-admin-meeting-attendance-user-name
          %div
            %strong
              &= u[:name]
          %div
            %a.dimmed.small{:href => "/branch/userattendance/#{@branch.id}/#{u[:uid]}"}
              %i.fa.fa-list= ""
              = t(:'branch/meeting/attendance/user_history')

        .branch-admin-meeting-attendance-user-status
          %select{:name => "attendance-#{u[:uid]}", :id => "attendance-#{u[:uid]}"}
            %option{:value => "unknown", :selected => u[:status] == :unknown}
              = t(:'meeting/attendance/unknown')
            %option{:value => "present", :selected => u[:status] == :present}
              = t(:'meeting/attendance/present')
            %option{:value => "apologies", :selected => u[:status] == :apologies}
              = t(:'meeting/attendance/apologies')

    %label{:for => 'guests'}= t(:'branch/meeting/attendance/guests')
    %textarea#guests{:name => 'guests'}
      &= @guests

    %button.button.pure-button.button-primary{:type => "submit"}
      %i.fa.fa-check-square-o= ""
      = t(:'branch/meeting/attendance/submit')
