.branch-admin-meetinglist
  %h1= @title

  .branch-admin-meetinglist-actions
    %a.pure-button{:href => "/branch/#{@branch.id}"}
      %i.fa.fa-chevron-left= ""
      = t :back

    %a.pure-button.button-success{:href => "/branch/meetings/#{@branch.id}/new"}
      %i.fa.fa-plus= ""
      = t(:'branch/meeting/list/new')

  %ul.block-list
    - @meetings.each do |meeting|
      %li
        .branch-admin-meetinglist-item-title
          = t(:'meeting/at_time', :datetime => meeting[:datetime])

        .block-list-form
          %a.pure-button.button-primary{:href => "/branch/meetingattendance/#{@branch.id}/#{meeting[:id]}"}
            %i.fa.fa-check-square-o= ""
            = t(:'branch/meeting/list/item/attendance')

          %a.pure-button{:href => "/branch/meetings/#{@branch.id}/#{meeting[:id]}"}
            %i.fa.fa-pencil= ""
            = t(:'branch/meeting/list/item/edit')

  = haml :'helpers/pagination', layout: false, locals: {current_page: @ds.current_page, total_pages: @ds.page_count, prev_page: "?page=#{@ds.current_page-1}", next_page: "?page=#{@ds.current_page+1}"}
