.branch-admin-meeting
  %h1= @title

  %a.pure-button{:href => "/branch/meetings/#{@branch.id}"}
    %i.fa.fa-chevron-left= ""
    = t(:back)

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %input{:type => 'hidden', :name => 'action', :value => "edit"}
    %h1= t(:'branch/meeting/view/edit/section_title')

    %label{:for => 'date'}= t(:'meeting/date')
    %input#date{:type => 'date', :name => 'date', :required => true, :value => @date}

    %label{:for => 'time'}= t(:'meeting/time')
    %input#time{:type => 'time', :name => 'time', :required => true, :value => @time}

    %label{:for => 'location'}= t(:'meeting/location')
    %input#location{:type => 'text', :name => 'location', :placeholder => 'Meeting location', :required => true, :value => @location}

    = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'notes', :editor_label => t(:'meeting/notes'), :editor_data => @notes}

    %button.pure-button.button-primary{:type => 'submit'}
      %i.fa.fa-pencil= ""
      = t(:'branch/meeting/view/edit/submit')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => "POST"}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'action', :value => "delete"}
        %h1= t(:'branch/meeting/view/delete/section_title')

        %label{:for => 'delete-confirm'}
          %input#delete-confirm{:type => 'checkbox', :name => 'confirm', :required => true}
          = t(:'branch/meeting/view/delete/confirm')

        %button.pure-button.button-error{:type => 'submit'}
          %i.fa.fa-trash= ""
          = t(:'branch/meeting/view/delete/submit')

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.margin-x
        %h1= t(:'branch/meeting/view/actions/section_title')

        %a.button.pure-button.button-primary{:href => "/branch/meetingattendance/#{@branch.id}/#{@meeting.id}"}
          %i.fa.fa-check-square-o= ""
          = t(:'branch/meeting/view/actions/attendance')
        
        %form{:method => "POST"}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => "send-reminder"}
          %button.pure-button.button{:type => 'submit'}
            %i.fa.fa-envelope-o= ""
            = t(:'branch/meeting/view/actions/send_reminder')

          
.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
