.branch-admin-newmeeting
  %h1= @title

  %a.pure-button{:href => "/branch/#{@branch.id}"}
    %i.fa.fa-chevron-left= ""
    = t(:'back')

  %div{:style => 'height:1em'}= ""
    
  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    %label{:for => 'date'}= t(:'meeting/date')
    %input#date{:type => 'date', :name => 'date', :required => true, :value => @date}

    %label{:for => 'time'}= t(:'meeting/time')
    %input#time{:type => 'time', :name => 'time', :required => true, :value => @time}

    %label{:for => 'location'}= t(:'meeting/location')
    %input#location{:type => 'text', :name => 'location', :placeholder => t(:'meeting/location'), :required => true, :value => @location}

    = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'notes', :editor_label => t(:'meeting/notes'), :editor_data => @notes}

    %label{:for => 'send-email'}
      %input#send-email{:type => 'checkbox', :name => 'send-email', :checked => true}
      = t(:'branch/meeting/create/send_email')

    %button.pure-button.button-primary{:type => 'submit'}
      %i.fa.fa-check= ""
      = t(:'branch/meeting/create/submit')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
