.error-page.error-page-404
  .pure-g
    .pure-u-1.pure-u-md-1-4= ""
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.pad-a-bit
        %h1= t :'errors/not_found/title'
        %p= t :'errors/not_found/text'

        %p
          - if logged_in?
            = t :'errors/not_found/home_page'
          - else
            = t :'errors/not_found/not_logged_in'
