.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => @back}
      %i.fa.fa-chevron-left
      = t(:'back')

    %div{:style => 'height:1em'}= ""
      
    .form-wrapped
      %textarea{:readonly => true, :style => 'width:100%;height:10em'}
        &= @log
