.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => @back}
      %i.fa.fa-chevron-left
      = t(:'back')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'back', :value => @back}
      %h1= t(:'system/work_queue/queue/job_info/section_title')

      %label{:for => 'queue-job-type'}= t(:'system/work_queue/queue/job_info/type')
      %select#queue-job-type{:name => 'type', :required => true}
        - @available_tasks.keys.each do |k|
          %option{:value => k.to_s}
            &= k.to_s

      %label{:for => 'queue-job-data'}= t(:'system/work_queue/queue/job_info/data')
      %input#queue-job-data{:type => 'text', :name => 'data'}

      %h1= t(:'system/work_queue/queue/timing/section_title')

      %label{:for => 'queue-job-date'}= t(:'system/work_queue/queue/timing/date')
      %input#queue-job-date{:name => 'date', :type => 'date', :required => true, :value => Time.now.strftime("%Y-%m-%d")}

      %label{:for => 'queue-job-time'}= t(:'system/work_queue/queue/timing/time')
      %input#queue-job-time{:name => 'time', :type => 'time', :required => true, :value => Time.now.strftime("%H:%M")}

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-check
        = t(:'system/work_queue/queue/submit')
