.form-wrapped
  %h1= t(:'massemail/confirm/title')

  %p
    - target = @targets.select{|x| x[:target] == @selected}.first
    = t(:'massemail/confirm/target_count', :count => target[:count])
    
  .massemail-confirm-meta
    %ul.inline-list
      %li
        = succeed ': ' do
          = t(:'massemail/meta/target')
        %code
          &= target[:name]

  .massemail-confirm-subject
    %ul.inline-list
      %li
        = succeed ': ' do
          = t(:'massemail/meta/subject')
        %strong
          &= @subject

  .massemail-preview.rich-text-container
    = @text
    
%form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'reedit', :value => "on"}
  %input{:type => 'hidden', :name => 'target', :value => @selected}
  %input{:type => 'hidden', :name => 'subject', :value => @subject}
  %input{:type => 'hidden', :name => 'text', :value => @text}

  %button.pure-button{:type => 'submit'}
    %i.fa.fa-pencil= ""
    = t(:'massemail/confirm/submit/modify')

%form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => "/massemail/send"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'save-draft', :value => "on"}
  %input{:type => 'hidden', :name => 'target', :value => @selected}
  %input{:type => 'hidden', :name => 'subject', :value => @subject}
  %input{:type => 'hidden', :name => 'text', :value => @text}

  %button.pure-button{:type => 'submit'}
    %i.fa.fa-file-o= ""
    = t(:'massemail/confirm/submit/draft')
    
%form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => "/massemail/send"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'target', :value => @selected}
  %input{:type => 'hidden', :name => 'subject', :value => @subject}
  %input{:type => 'hidden', :name => 'text', :value => @text}

  %button.pure-button.button-primary{:type => 'submit'}
    %i.fa.fa-envelope= ""
    = t(:'massemail/confirm/submit')
