%h1= @title

%a.pure-button.button{:href => '/massemail'}
  %i.fa.fa-chevron-left= ""
  = t(:'back')

- [{title: t(:'massemail/existing/drafts_section_title'), emails: @draft_emails}, {title: t(:'massemail/existing/previous_section_title'), emails: @previous_emails}].each do |x|
  - if x[:emails].count.positive?
    .form-wrapped
      %h1= x[:title]

      %ul.block-list
        - x[:emails].each do |e|
          %li
            %a.massemail-prev-link{:href => "/massemail/view/#{e[:id]}"}
              %strong.massemail-prev-subject
                &= e[:subject]

              .massemail-prev-meta
                %ul.inline-list
                  %li
                    = succeed ': ' do
                      = t(:'massemail/meta/target')
                    %span
                      &= e[:target_name]

                  %li
                    = succeed ': ' do
                      = t(:'massemail/meta/created')

                    %time{:datetime => e[:created].iso8601}
                      &= e[:created].strftime("%Y-%m-%d %H:%M")
                      = surround '(', ')' do
                        &= pretty_time_ago e[:created]
