%h1= @title

%a.pure-button.button{:href => '/massemail/existing'}
  %i.fa.fa-list= ""
  = t(:'massemail/existing/title')

%form.pure-form.pure-form-stacked.form-wrapped{:method => "POST", :action => '/massemail'}
  %h1= t(:'massemail/compose/section_title')
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

  %label{:for => "target"}= t(:'massemail/compose/target')
  %select{:name => 'target', :required => true}
    - @targets.each do |t|
      %option{:value => t[:target], :selected => t[:target] == @selected}
        &= t[:name]
        = surround '(', ')' do
          = succeed ': ' do
            = t(:'massemail/compose/target/count')

          &= t[:count]

  %label{:for => 'subject'}= t(:'massemail/compose/subject')
  %input#subject{:type => 'text', :name => 'subject', :value => @subject, :required => true}

  = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'text', :editor_label => t(:'massemail/compose/body'), :editor_data => @text, :classes => ['massemail-textarea']}

  %button.pure-button.button-primary{:type => 'submit'}
    %i.fa.fa-envelope= ""
    = t(:'massemail/compose/submit')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
