.form-wrapped
  %h1= @data[:subject]

  %p{:style => 'text-align:center'}
    %time{:datetime => @data[:created].iso8601}
      This email was sent at
      %strong= @data[:created].strftime('%Y-%m-%d %H:%M')
      (#{pretty_time_ago @data[:created]})

  .mass-email-preview.rich-text-container
    = @data[:content]
