.massemail-view
  %h1= t("massemail/view/title/#{@data[:is_draft] ? 'draft' : 'sent'}".to_sym, :email_id => @data[:id])

  .inline-form
    %a.pure-button.button{:href => '/massemail/existing'}
      %i.fa.fa-chevron-left
      Back

  %form.inline-form{:method => "POST", :action => '/massemail/load-existing'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %input{:type => 'hidden', :name => 'email_id', :value => @data[:id]}
    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-envelope-o= ""
      = t(:'massemail/view/actions/to_composer')

  - if @data[:is_draft]
    %form.inline-form{:method => "POST", :action => '/massemail/delete'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'email_id', :value => @data[:id]}
      %button.pure-button.button.button-error{:type => 'submit'}
        %i.fa.fa-trash= ""
        = t(:'massemail/view/actions/delete_draft')

  %div{:style => 'height:1em'}= ""

  .massemail-view-meta
    %ul.inline-list
      %li
        = succeed ': ' do
          = t(:'massemail/meta/target')
        %code
          &= @data[:target_name]

      %li
        = succeed ': ' do
          = t(:'massemail/meta/created')
        %time{:datetime => @data[:created].iso8601}
          %code
            &= @data[:created].strftime("%Y-%m-%d %H:%M")
          = surround '(', ')' do
            &= pretty_time_ago @data[:created]

  .massemail-view-queuestatus
    %ul.inline-list
      %li
        = succeed ': ' do
          = t(:'massemail/meta/queue_status')
        %code
          = @data[:queue_status]

  .massemail-view-subject
    %ul.inline-list
      %li
        = succeed ': ' do
          = t(:'massemail/meta/subject')
        %strong
          &= @data[:subject]

  .massemail-preview.rich-text-container
    = @data[:content]
