%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'user_id', :value => @user_adding.id}
  %input{:type => 'hidden', :name => 'make_admin', :value => @make_admin ? 'on' : ''}
  
  %p
    = t(:'groupadmin/adduser/confirm/content', :user => @user_adding_name, :user_id => @user_adding.id, :group => @group_h[:name], :make_admin => @make_admin)
    
  %label{:for => "confirm"}
    %input#confirm{:type => 'checkbox', :name => 'confirm', :checked => false, :required => true}
    = t(:'groupadmin/adduser/confirm/checkbox')
    
  %div{:style => 'height:1em'}= ""
    
  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-plus= ""
    = t(:'groupadmin/adduser/confirm/submit')
    
  %a.pure-button.button{:href => "/group/edit/#{@group.id}"}
    %i.fa.fa-times= ""
    = t(:'groupadmin/adduser/confirm/cancel')
