.groupadmin-adduser
  %h1= @title

  %a.pure-button.button{:href => "/group/edit/#{@group.id}"}
    %i.fa.fa-chevron-left= ""
    = t(:'back')

  %div{:style => 'height:1em'}= ""
    
  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    
    %label{:for => 'user_id'}
      = t(:'groupadmin/adduser/user_id')
    %input#user_id{:type => 'text', :name => 'user_id', :required => true}
    
    %label{:for => 'make_admin'}
      %input#make_admin{:type => 'checkbox', :name => 'make_admin', :checked => false}
      = t(:'groupadmin/adduser/make_admin')
      
    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-plus= ""
      = t(:'groupadmin/adduser/submit')
