.auth-form
  %p= t :'auth/reset_password/success'

  %ul.auth-options.fa-ul
    %li
      %i.fa.fa-fw.fa-sign-in= ""
      %a{href: '/auth'}
        = t :'auth/login/title'

    %li
      %i.fa.fa-fw.fa-user-plus= ""
      %a{href: '/auth/signup'}
        = t :'auth/signup/title'
