.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/system/config'}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

    %form#editform.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t(:'system/configuration/edit/change/section_title')

      - if @deprecated.include?(@key)
        .message.message-warning
          = succeed ':' do
            = t(:'system/configuration/edit/change/deprecated_message', :dep_in => @deprecated[@key][:in])
          %span
            &= @deprecated[@key][:reason]

      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'key', :value => @key}
      %input{:type => 'hidden', :name => 'expanded', :value => "on"}

      .fieldswitch
        %label{:for => 'type'}= t(:'system/configuration/type/title')
        %select#type.fieldswitch-select{:name => 'type'}
          %option{:value => 'bool', :selected => @type == :bool, :disabled => (@type.nil? ? false : @type != :bool)}
            = t(:'system/configuration/type/bool')
          %option{:value => 'text', :selected => @type == :text, :disabled => (@type.nil? ? false : @type != :text)}
            = t(:'system/configuration/type/text')
          %option{:value => 'json', :selected => @type == :json, :disabled => (@type.nil? ? false : @type != :json)}
            = t(:'system/configuration/type/json')
          %option{:value => 'number', :selected => @type == :number, :disabled => (@type.nil? ? false : @type != :number)}
            = t(:'system/configuration/type/number')

        .fieldswitch-field{:'data-type' => 'bool'}
          %label{:for => 'value-bool'}= t(:'system/configuration/edit/change/value')
          %select#value-bool{:name => 'value-bool'}
            %option{:value => 'yes', :selected => @value == "yes"}= t(:'bool/true')
            %option{:value => 'no', :selected => @value != "yes"}= t(:'bool/false')

        .fieldswitch-field{:'data-type' => 'text'}
          %label{:for => 'value-text'}= t(:'system/configuration/edit/change/value')
          %input#value-text{:name => "value-text", :type => 'text', :value => @value}

        .fieldswitch-field{:'data-type' => 'json'}
          %label{:for => 'value-json'}= t(:'system/configuration/edit/change/value')
          %input#value-json{:name => "value-json", :type => 'text', :value => @value}

        .fieldswitch-field{:'data-type' => 'number'}
          %label{:for => 'value-number'}= t(:'system/configuration/edit/change/value')
          %input#value-number{:name => "value-number", :type => 'number', :value => @value}

      %button.pure-button.pure-button-primary{:type => 'submit'}
        = t(:'system/configuration/edit/change/submit')

    %form#editform.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'key', :value => @key}
      %input{:type => 'hidden', :name => 'delete', :value => "on"}

      - if @entry.nil?
        %h1= t(:'system/configuration/edit/cancel_creation/section_title')
        %p= t(:'system/configuration/edit/cancel_creation/content')
        
        %button.pure-button.button-warning{:type => 'submit'}
          = t(:'system/configuration/edit/cancel_creation/submit')

      - else
        %h1= t(:'system/configuration/edit/delete/section_title')
  
        %p{:style => 'margin-bottom:1em'}
          = t(:'system/configuration/edit/delete/content', :key => @key)

        %input#verify{:type => "text", :name => "verify", :required => true, :placeholder => 'name-of-the-key'}

        %button.pure-button.button-error{:type => 'submit'}
          = t(:'system/configuration/edit/delete/submit')
