.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    .system-admin-configuration-refresh
      %h1= @title

      %a.pure-button.button{:href => '/system/config'}
        %i.fa.fa-chevron-left
        = t :back

      - if @dry_run
        %p
          = t(:'system/configuration/refresh/content/dry_run')

      - else
        .message.message-success
          - if EARMMS::ServerUtils.app_server_has_multiple_workers?
            = t(:'system/configuration/refresh/success_restarting')
          - else
            = t(:'system/configuration/refresh/success')

      %p
        = t(:'system/configuration/refresh/content/list_below')

      %ul.block-list
        - @output.each do |v|
          %li
            .y-margin-large
              - if v[:warnings].count.zero?
                %i.fa.fa-check= ""
              - else
                %i.fa.fa-warning= ""

              %code.code-line
                &= v[:key]

              - if v[:warnings].count.positive?
                %ul.block-list
                  - v[:warnings].each do |warning|
                    %li
                      .y-margin-large
                        %code.code-line
                          &= warning

      - if @dry_run
        %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

          - if @has_warnings
            .message.message-error
              = t(:'system/configuration/refresh/parse/warning')
          - else
            .message.message-success
              = t(:'system/configuration/refresh/parse/success')

          %p
            = t(:'system/configuration/refresh/above_submit')

          %button.pure-button.button.button-primary{:type => 'submit'}
            %i.fa.fa-refresh= ""
            = t(:'system/configuration/refresh/submit')
