.form-wrapped
  %p= t(:'auth/email_verify/invalid/content')

  - if logged_in?
    %a.pure-button.button.button-primary{href: '/user/verify-email'}
      %i.fa.fa-envelope-o= ""
      = t(:'auth/email_verify/invalid/request_again')
