.form-wrapped
  %p= t(:'auth/discord_join/failure/content')

  %a.pure-button.button{href: '/auth/discord/join'}
    %i.fa.fa-arrow-right= ""
    = t(:'auth/discord_join/failure/try_again')

  %a.pure-button.button{href: '/dashboard'}
    %i.fa.fa-home= ""
    = t(:'auth/discord_join/failure/go_home')
