.form-wrapped
  %p= t(:'auth/discord_join/success/content', discord_user: @discord_user)

  %a.pure-button.button{href: @discord_guild_link}
    %i.fa.fa-comments= ""
    = t(:'auth/discord_join/success/continue')
