!!!html
%html
  %head
    %meta(charset="utf-8")
    %title= title

    :scss
      html, body
      {
        font-family: sans-serif;
      }

      h1
      {
        border-bottom: 4px solid #000;
      }

      h2
      {
        font-size: 1.2rem;
        border-bottom: 2px solid #000;
      }

      .block-list > li
      {
        margin: 0 0 0.25em 0;

        .block-list-form
        {
          margin: 0.5em 0 1em 0;
        }
      }

      .inline-list
      {
        display: inline-block;
        list-style: none outside none;
        margin: 0;
        padding: 0;

        & > li
        {
          display: inline-block;
          list-style: none outside none;
          margin: 0;
          padding: 0;

          &:not(:last-child):after
          {
            content: ' \00b7 ';
          }
        }
      }

  %body
    %h1= title

    %p
      = succeed ': ' do
        Report generated at
      %span
        &= generated.strftime("%Y-%m-%d %H:%M:%S %Z")

    %p
      Please note that the statistics below may not include changes from
      today, as the statistics are calculated at the end of the day.

    %section.report-stats-overall
      %header
        %h1 Membership statistics over this time period

        %p
          = succeed ': ' do
            In the period from
            &= since.strftime("%Y-%m-%d")
            to
            &= Time.now.strftime("%Y-%m-%d")

            = surround '(', ')' do
              &= membership_diff[:days]
              days

          %ul
            %li
              - if membership_diff[:members].positive?
                Gained
              - else
                Lost

              %code
                &= membership_diff[:members]

              members

            %li
              - if membership_diff[:supporters].positive?
                Gained
              - else
                Lost

              %code
                &= membership_diff[:supporters]

              supporters

    %section.report-stats-by-day
      %header
        %h1 Membership statistics by day

      %ul.block-list
        - membership_stats[:by_day].each do |bd|
          %li
            %strong
              &= bd[:day].strftime("%Y-%m-%d")

            %ul
              %li
                %em Overall

                .report-stats-data
                  %ul.inline-list
                    %li
                      = succeed ': ' do
                        Members
                      %code
                        &= bd[:overall][:members]
                    %li
                      = succeed ': ' do
                        Supporters
                      %code
                        &= bd[:overall][:supporters]

              - bd[:branches].each do |br|
                %li
                  %em
                    = succeed ': ' do
                      Branch
                    %span
                      &= br[:branch_name] || '(unknown)'
                    %span
                      = surround '(', ')' do
                        ID
                        %code
                          &= br[:branch].id

                  .report-stats-data
                    %ul.inline-list
                      %li
                        = succeed ': ' do
                          Members
                        %code
                          &= br[:members]
                      %li
                        = succeed ': ' do
                          Supporters
                        %code
                          &= br[:supporters]

    %section.report-new-users
      %header
        %h1 New users

      %ul.block-list
        - new_users.each do |user|
          %li
            .report-user-name
              %strong
                &= user[:name]

            .report-user-data
              %ul.inline-list
                %li
                  = succeed ': ' do
                    ID
                  %code
                    &= user[:user].id
                  
                %li
                  = succeed ': ' do
                    Created
                  %code
                    &= user[:creation].strftime("%Y-%m-%d %H:%M")

                - if user[:branch]
                  %li
                    = succeed ': ' do
                      Branch
                    %span
                      &= user[:branch][:name]
                    %span
                      = surround '(', ')' do
                        ID
                        %code
                          &= user[:branch][:branch].id
                
                %li
                  %a{:href => user[:edit_link]}
                    Open user in membership admin

            .report-user-changelog-first-to-member
              - if user[:changelogs][:first_to_member]
                %ul.inline-list
                  %li
                    = succeed ': ' do
                      = "User became a #{user[:changelogs][:first_to_member][:data][:to]}"
                    %code
                      = user[:changelogs][:first_to_member][:creation].strftime("%Y-%m-%d %H:%M")
                  %li
                    = succeed ': ' do
                      ID
                    %code
                      = user[:changelogs][:first_to_member][:entry].id

              - else
                %span
                  User does not have a recorded change to member

            .report-user-changelog
              %span
                = succeed ': ' do
                  Changelogs
      
              - if user[:changelogs][:all].empty?
                No changelog entries for this user.

              %ul
                - user[:changelogs][:all].each do |cr|
                  %li
                    .report-user-changelog-entry-type
                      %em
                        - if cr[:type] == 'membership_status'
                          Membership status change
                        - elsif cr[:type] == 'branch_change'
                          Branch change
                        - else
                          Unknown changelog entry type

                    .report-user-changelog-entry-data
                      - if cr[:type] == 'membership_status'
                        %ul.inline-list
                          %li
                            = succeed ': ' do
                              From
                            %code
                              &= cr[:data][:from]

                          %li
                            = succeed ': ' do
                              To
                            %code
                              &= cr[:data][:to]

                      - elsif cr[:type] == 'branch_change'
                        %ul.inline-list
                          %li
                            = succeed ': ' do
                              From
                            %code
                              &= cr[:data][:from_name]
                            %span
                              = surround '(', ')' do
                                ID
                                %code
                                  &= cr[:data][:from]

                          %li
                            = succeed ': ' do
                              To
                            %code
                              &= cr[:data][:to_name]
                            %span
                              = surround '(', ')' do
                                ID
                                %code
                                  &= cr[:data][:to]

                      - else
                        = succeed ': ' do
                          Raw data
                        %code
                          &= cr[:data].inspect

                    .report-user-changelog-entry-meta
                      %ul.inline-list
                        %li
                          = succeed ': ' do
                            Created
                          %code
                            = cr[:creation].strftime("%Y-%m-%d %H:%M")

                        %li
                          = succeed ': ' do
                            ID
                          %code
                            &= cr[:entry].id

    
    %section.report-changelogs
      %header
        %h1 Changelog entries

      - if changelogs.empty?
        %div
          No new changelog entries for this time period.

      - changelogs.each do |type, entries|
        %h2
          - if type == 'membership_status'
            Membership status change
          - elsif type == 'branch_change'
            Branch change
          - else
            Unknown changelog entry type

        %ul.block-list
          - entries.each do |cr|
            %li
              .report-changelog-entry-user
                %strong
                  &= cr[:user][:name]

              .report-changelog-entry-user-data
                %ul.inline-list
                  %li
                    = succeed ': ' do
                      ID
                    %code
                      &= cr[:user][:user].id
                  
                  %li
                    = succeed ': ' do
                      Created
                    %code
                      &= cr[:user][:user].creation.strftime("%Y-%m-%d %H:%M")
                
                  - if cr[:user][:branch]
                    %li
                      = succeed ': ' do
                        Branch
                      %span
                        &= cr[:user][:branch][:name]

                      %span
                        = surround '(', ')' do
                          ID
                          %code
                            &= cr[:user][:branch][:branch].id

                  %li
                    %a{:href => cr[:user][:edit_link]}
                      Open user in membership admin

              .report-changelog-entry-meta
                %ul.inline-list
                  %li
                    = succeed ': ' do
                      Created
                    %span
                      &= cr[:creation].strftime("%Y-%m-%d %H:%M")

                  %li
                    = succeed ': ' do
                      ID
                    %code
                      &= cr[:entry].id

              .report-changelog-entry-data
                - if type == 'membership_status'
                  %ul.inline-list
                    %li
                      = succeed ': ' do
                        From
                      %code
                        &= cr[:data][:from]

                    %li
                      = succeed ': ' do
                        To
                      %code
                        &= cr[:data][:to]

                - elsif type == 'branch_change'
                  %ul.inline-list
                    %li
                      = succeed ': ' do
                        From
                      %code
                        &= cr[:data][:from_name]
                      %span
                        = surround '(', ')' do
                          ID
                          %code
                            &= cr[:data][:from]

                    %li
                      = succeed ': ' do
                        To
                      %code
                        &= cr[:data][:to_name]
                      %span
                        = surround '(', ')' do
                          ID
                          %code
                            &= cr[:data][:to]

                - else
                  = succeed ': ' do
                    Raw data
                  %code
                    &= cr[:data].inspect

