.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'membership/user/auth/title', :user => @user_name

    %a.pure-button{:href => "/admin/user/edit/#{@user.id}"}
      %i.fa.fa-chevron-left= ""
      = t :back

    - if @user.id == current_user.id
      .message.message-warning
        = t :'membership/user/auth/editing_own_profile'

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :'membership/user/auth/disable/title'

      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'disable_account'}

      %p= t(:'membership/user/auth/disable/leave_blank')

      - if @user.id == current_user.id
        .message.message-warning
          = t(:'membership/user/auth/disable/own_profile')

      %label{:for => 'disable_account_reason'}= t :'membership/user/auth/disable/reason'
      %input#disable_account_reason{:type => 'text', :name => 'reason', :value => @disable}

      %button.pure-button.button-error{:type => 'submit'}
        %i.fa.fa-pencil= ""
        = t :'membership/user/auth/disable/submit'

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :'membership/user/auth/delete/title'

      - if @user.id == current_user.id
        .message.message-warning
          = t(:'membership/user/auth/delete/own_profile')

      - else
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %input{:type => 'hidden', :name => 'action', :value => 'delete_account'}

        %p= t(:'membership/user/auth/delete/content')

        %label{:for => 'delete_confirm'}= t :'membership/user/auth/delete/confirmation'
        %input#delete_confirm{:type => 'text', :name => 'confirm'}

        %button.pure-button.button-error{:type => 'submit'}
          %i.fa.fa-trash= ""
          = t :'membership/user/auth/delete/submit'

    %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
      %h1= t :'membership/user/auth/pwreset/title'

      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'pwreset'}

      %p= t(:'membership/user/auth/pwreset/content')

      - if @user.id == current_user.id
        .message.message-warning
          = t(:'membership/user/auth/pwreset/own_profile')

      %button.pure-button.button-error{:type => 'submit'}
        %i.fa.fa-key= ""
        = t :'membership/user/auth/pwreset/submit'
