.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/user/edit/#{@user.id}"}
      %i.fa.fa-chevron-left
      = t :back

    %ul.membership-admin-changelog-list
      - @changelog_entries.each do |entry|
        %li
          %p
            %ul.inline-list
              %li
                %strong.membership-admin-changelog-entry-type
                  = t(entry[:friendly][:type_tl])

              %li
                %time.membership-admin-changelog-entry-date{:datetime => entry[:created].iso8601}
                  &= entry[:created].strftime('%Y-%m-%d %H:%M:%S')
                  = surround '(', ')' do
                    &= pretty_time_ago entry[:created]

              %li
                &= "ID #{entry[:id]}"

          %p
            = t(entry[:friendly][:message_tl], :entry_data => entry[:data])

          - if @display_raw
            %p
              %code
                &= entry[:data].inspect

    - if settings.development? || has_role?("system:debugging")
      .body-footer
        %ul.inline-list
          %li Debugging options
          %li
            %a{:href => "?raw=#{@display_raw ? '0' : '1'}"}
              Toggle showing raw changelog data
              = surround '(', ')' do
                currently
                = @display_raw ? 'on' : 'off'
      
