.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'membership/user/edit/title', :user => @user_name

    - if request.params.key?("back")
      %a.pure-button{:href => request.params["back"]}
        %i.fa.fa-chevron-left= ""
        = t :back

    %a.pure-button{:href => '/admin/user'}
      %i.fa.fa-search
      = t :'membership/user/search/new_search'

    - if @user.id == current_user.id
      .message.message-warning= t :'membership/user/edit/editing_own_profile'

    .pure-g
      .pure-u-1.pure-u-md-1-2
        .form-wrapped.margin-x
          %h1= t :'membership/user/edit/summary/title'

          %ul
            - @summary.each do |se|
              %li
                %strong
                  = succeed ':' do
                    = t("membership/user/edit/summary/#{se[:name].to_s}".to_sym)

                %span
                  - if se[:data] == true
                    &= t(:'bool/true')
                  - elsif se[:data] == false
                    &= t(:'bool/false')
                  - elsif se[:data] == nil
                    &= t(:'unknown')
                  - else
                    %code
                      &= se[:data]

      .pure-u-1.pure-u-md-1-2
        .form-wrapped.margin-x
          %h1= t :'membership/user/edit/actions/title'

          %a.pure-button.button{:href => "/admin/user/changelog/#{@user.id}"}
            %i.fa.fa-list= ""
            = t :'membership/user/edit/actions/changelog'

          %a.pure-button.button{:href => "/admin/user/attendance/#{@user.id}"}
            %i.fa.fa-users= ""
            = t :'membership/user/edit/actions/attendance'

          %a.pure-button.button.button-warning{:href => "/admin/user/edit/roles/#{@user.id}"}
            %i.fa.fa-id-badge= ""
            = t :'membership/user/edit/actions/roles'

          %a.pure-button.button.button-error{:href => "/admin/user/edit/auth/#{@user.id}"}
            %i.fa.fa-lock=""
            = t :'membership/user/edit/actions/auth'

    .pure-g
      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => "POST"}
          %h1= t :'membership/user/edit/profile/title'
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'profile_edit'}

          - @fields.each do |f|
            %label{:for => "profile-#{f[:name]}"}
              &= f[:friendly]
              - if f[:display_in_extended_signup] == false
                %span.badge
                  = t(:'membership/user/edit/label/no_extended_signup')
              - if f[:display_in_profile_edit] == false
                %span.badge
                  = t(:'membership/user/edit/label/no_profile_edit')
              - if f[:display_only_if_membership_status]&.count&.positive?
                %span.badge
                  = t(:'membership/user/edit/label/only_status', :statuses => f[:display_only_if_membership_status])

              - if f[:required]
                %span.badge.field-required
                  = t :field_required

            - if f[:type] == "textarea"
              %textarea{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required]}
                &= @values[f[:name]]

            - elsif f[:type] == "select"
              %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required]}
                %option{:value => 'unknown', :selected => @values[f[:name]] == nil} Unknown
                - f[:select_options].each do |opt|
                  %option{:value => opt[:name], :selected => @values[f[:name]] == opt[:name]}
                    &= opt[:friendly]

            - elsif f[:type] == "bool"
              %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required]}
                %option{:value => 'unknown', :selected => @values[f[:name]] == nil} Unknown
                %option{:value => 'true', :selected => @values[f[:name]] == 'true'} Yes
                %option{:value => 'false', :selected => @values[f[:name]] == 'false'} No

            - else
              %input{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required], :value => @values[f[:name]], :type => f[:type]}

          %button.pure-button.pure-button-primary{:type => "submit"}
            = t :'membership/user/edit/profile/submit'

      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => "POST"}
          %h1= t :'membership/user/edit/branch/title'
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'branch_edit'}

          - if @branch_change_req
            - d = @branch_change_req.to_h
            .message.message-success
              = t :'membership/user/edit/branch/pending'
              %br
              &= d[:message]

          %label{:for => 'branch'}= t :branch
          %select#branch{:name => 'branch'}
            - @branches.values.each do |b|
              %option{:value => b[:id], :selected => (@branch == b[:id])}
                &= b[:name]
            %option{:value => 'unknown', :selected => (@branch == nil), :disabled => true}
              = t :unknown

          %button.pure-button.pure-button-primary{:type => "submit"}
            = t :'membership/user/edit/branch/submit'

        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => "POST"}
          %h1= t :'membership/user/edit/membership_status/title'
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'membership_edit'}

          - if @status_change_req
            - d = @status_change_req.to_h
            .message.message-success
              = t :'membership/user/edit/membership_status/pending'
              %br
              &= d[:message]

          %label{:for => 'membership-status'}= t :membership_status
          %select#membership-status{:name => 'status'}
            -# XXX: change this for multiple membership statuses?
            - %w[member supporter].each do |status|
              %option{:value => status, :selected => (@membership_status == status)}
                = t("membership_status/#{status}".to_sym)
            %option{:value => "unknown", :selected => (@membership_status == nil), :disabled => true}
              = t :unknown

          %button.pure-button.pure-button-primary{:type => "submit"}
            = t :'membership/user/edit/membership_status/submit'

        %form.pure-form.pure-form-stacked.form-wrapped.margin-x{:method => "POST"}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'change_email'}
          %h1= t :'membership/user/edit/email_address/title'

          %label{:for => 'email-address'}
            = t :email_address
          %input#email-address{:type => 'email', :name => 'email', :placeholder => "Email address", :required => true, :value => @user.email}

          %button.pure-button.button-primary{:type => 'submit'}
            = t :'membership/user/edit/email_address/submit'
