.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => "/admin/user/edit/#{@user.id}"}
      %i.fa.fa-chevron-left= ""
      = t :back

    - if current_user.id == @user.id
      .message.message-warning
        = t(:'membership/user/roles/warnings/self_edit')

    - unless @has_2fa
      .message.message-warning
        = t(:'membership/user/roles/warnings/no_mfa')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      - @role_cats.each do |cat|
        %h1= cat[:name]

        - if cat.key?(:warning)
          .message.message-warning
            = cat[:warning]

        - cat[:roles].each do |role|
          %label{:for => "role__#{role[:role]}"}
            %input{:type => 'checkbox', :id => "role__#{role[:key]}", :name => "role__#{role[:key]}", :checked => role[:has], :disabled => !(@has_2fa || role[:has])}
            = role[:desc]

      %h1 Save changes
      %button.pure-button.button.button-primary{:type => 'submit', :disabled => !@has_2fa}
        %i.fa.fa-pencil= ""
        = t(:'membership/user/roles/submit')
