.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %form.pure-form.pure-form-stacked.form-wrapped{:method => "GET", :action => "/admin/user/search/expanded"}
      %h1= t :'membership/user/search/title'

      .fieldswitch
        %label{:for => 'searchtype'}= t :'membership/user/search/type'
        %select#searchtype.fieldswitch-select{:name => 'searchtype'}
          %option{:value => 'full_name'}= t :full_name
          %option{:value => 'email'}= t :email_address
          %option{:value => 'membership_status'}= t :membership_status
          %option{:value => 'branch'}= t :branch
          %option{:value => 'phone_home'}= t :phone_home
          %option{:value => 'phone_mobile'}= t :phone_mobile
          %option{:value => 'prisoner_number'}= t :prisoner_number
          %option{:value => 'creation_before'}= t :joined_before
          %option{:value => 'creation_after'}= t :joined_after
          - @custom_fields.each do |f|
            %option{:value => "custom_#{f[:name]}"}= f[:friendly]
          %option{:value => 'uid'}= t :user_id

        .fieldswitch-field{:'data-type' => 'uid'}
          %label{:for => 'uid'}= t :'user_id'
          %input#uid{:name => 'uid', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'email'}
          %label{:for => 'email'}= t :email_address
          %input#uid{:name => 'email', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'branch'}
          %label{:for => 'branch'}= t :branch
          %select#branch{:name => 'branch'}
            - @branches.each do |b|
              - %w[member supporter].each do |st|
                %option{:value => "#{b[:id]}:#{st}"}
                  = succeed ': ' do
                    = t("membership_status/#{st}/plural".to_sym)
                  &= b[:name]

        .fieldswitch-field{:'data-type' => 'full_name'}
          %label{:for => 'full_name'}= t :'full_name'
          %input#full_name{:name => 'full_name', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'phone_home'}
          %label{:for => 'phone_home'}= t :'phone_home'
          %input#phone_home{:name => 'phone_home', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'phone_mobile'}
          %label{:for => 'phone_mobile'}= t :'phone_mobile'
          %input#phone_mobile{:name => 'phone_mobile', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'prisoner_number'}
          %label{:for => 'prisoner_number'}= t :'prisoner_number'
          %input#prisoner_number{:name => 'prisoner_number', :type => 'text'}

        .fieldswitch-field{:'data-type' => 'membership_status'}
          %label{:for => 'membership_status'}= t :membership_status
          %select#membership_status{:name => 'membership_status'}
            - %w[member supporter].each do |st|
              %option{:value => st}
                = t("membership_status/#{st}/plural".to_sym)

            %option{:value => ''}= t :unknown

        .fieldswitch-field{:'data-type' => 'creation_before'}
          %label{:for => 'creation_before'}= t :joined_before
          %input#creation_before{:name => 'creation_before', :type => 'date'}

        .fieldswitch-field{:'data-type' => 'creation_after'}
          %label{:for => 'creation_after'}= t :joined_after
          %input#creation_after{:name => 'creation_after', :type => 'date'}

        - @custom_fields.each do |f|
          .fieldswitch-field{:'data-type' => "custom_#{f[:name]}"}
            %label{:for => "custom_#{f[:name]}"}= f[:friendly]
            - if f[:type] == "bool"
              %select{:id => "custom_#{f[:name]}", :name => "custom_#{f[:name]}"}
                %option{:value => 'true'}= t(:'bool/true')
                %option{:value => 'false'}= t(:'bool/false')
                %option{:value => 'unknown'}= t(:unknown)

            - elsif f[:type] == "select"
              %select{:id => "custom_#{f[:name]}", :name => "custom_#{f[:name]}"}
                %option{:value => 'unknown'} Unknown
                - f[:select_options].each do |opt|
                  %option{:value => opt[:name]}
                    &= opt[:friendly]

            - else
              %input{:id => "custom_#{f[:name]}", :name => "custom_#{f[:name]}", :type => 'text'}

      %button.pure-button.button-primary{:type => "submit"}
        %i.fa.fa-search= ""
        = t :'membership/user/search/submit'

    .form-wrapped
      %h1= t(:'membership/user/actions/title')

      %a.pure-button.button{:href => '/admin/user/create'}
        %i.fa.fa-user-plus= ""
        = t(:'membership/user/actions/create_user')

      %form{:method => 'POST', :action => '/admin/user/generate-invite'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %button.pure-button.button{:type => 'submit'}
          %i.fa.fa-vcard-o= ""
          = t(:'membership/user/actions/generate_invite')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/admin/user/report'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t(:'membership/user/report/title')
      %p= t(:'membership/user/report/content')

      %label{:for => 'report-date'}= t(:'membership/user/report/date')
      %input#report-date{:name => 'date', :type => 'date', :required => true, :value => Time.now.strftime("%Y-%m-%d")}

      %button.pure-button.button{:type => 'submit'}
        %i.fa.fa-list= ""
        = t(:'membership/user/report/submit')

