.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'membership/user/search/title'

    %a.pure-button{:href => '/admin/user'}
      %i.fa.fa-chevron-left= ""
      = t :'membership/user/search/new_search'

    .form-wrapped
      %h1= t :'membership/user/search/results/title'
      - if @results == nil || @results.length == 0
        %p= t :'membership/user/search/results/none'

      - else
        %p= t :'membership/user/search/results/count', :count => @results.length

        %ul.membership-admin-user-list.block-list
          - @results.each do |u|
            %li.membership-admin-user
              - uri = Addressable::URI.parse("/admin/user/edit/#{u[:user].id}")
              - uri.query_values = {"back" => @current_uri}
              .membership-admin-user-link
                %a{:href => uri}
                  %i.fa.fa-link= ""
                  %strong
                    &= u[:user_name]

                - if u[:user].id == current_user.id
                  %span.badge
                    %i.fa.fa-user
                    = t :thats_you

              %ul.inline-list.membership-admin-user-info
                %li
                  = succeed ':' do
                    = t(:'membership/user/search/userinfo/joined')
                  %code
                    &= u[:user].creation.strftime("%Y-%m-%d %H:%M")

                %li
                  = succeed ':' do
                    = t(:'membership/user/search/userinfo/uid')
                  %code
                    &= u[:user].id

                %li
                  = succeed ':' do
                    = t(:'membership/user/search/userinfo/membership_status')
                  - if u[:membership_status]
                    &= t("membership_status/#{u[:membership_status]}".to_sym)
                  - else
                    &= t :unknown

                %li
                  = succeed ':' do
                    = t(:'membership/user/search/userinfo/branch')
                  - if u[:branch] && @branches.key?(u[:branch])
                    %a{:href => "/admin/branch/edit/#{u[:branch]}"}
                      &= @branches[u[:branch]][:name]
                  - else
                    &= t :unknown

    - unless @results == nil || @results.length == 0
      #membership-admin-search-results-sort
        .membership-admin-search-results-sort-inner
          %form.inline-form{:method => 'GET'}
            %input{:type => 'hidden', :name => 'searchtype', :value => @searchtype}
            %input{:type => 'hidden', :name => 'query', :value => @query}
            - if @sort.start_with?('~')
              %input{:type => 'hidden', :name => 'sort', :value => @sort[1..-1]}
            - else
              %input{:type => 'hidden', :name => 'sort', :value => "~#{@sort}"}

            %button.pure-button.button{:type => 'submit'}
              - if @sort.start_with?('~')
                %i.fa.fa-sort-numeric-desc= ""
                = t(:'membership/user/search/sort/order/desc')
              - else
                %i.fa.fa-sort-numeric-asc= ""
                = t(:'membership/user/search/sort/order/asc')

          %span.x-margin
            = succeed ':' do
              = t(:'membership/user/search/sort/title')

          - @available_sorts.each do |sort|
            %form.inline-form{:method => 'GET'}
              %input{:type => 'hidden', :name => 'searchtype', :value => @searchtype}
              %input{:type => 'hidden', :name => 'query', :value => @query}
              %input{:type => 'hidden', :name => 'sort', :value => sort}
              %button.pure-button.button{:type => 'submit'}
                - if [sort, "~#{sort}"].include?(@sort)
                  %i.fa.fa-circle= ""
                = t("membership/user/search/sort/#{sort}".to_sym)

      .form-wrapped
        %h1= t(:'membership/user/search/actions/title')

        %form.pure-form.pure-form-stacked{:method => 'POST', :action => @current_uri}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'as_text_email'}
          %button.pure-button.button-primary{:type => 'submit'}
            %i.fa.fa-file-text-o= ""
            = t :'membership/user/search/actions/as_text'

        %form.pure-form.pure-form-stacked{:method => 'POST', :action => @current_uri}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'export_search'}
          %input{:type => 'hidden', :name => 'export_type', :value => 'text'}
          %button.pure-button{:type => 'submit'}
            %i.fa.fa-envelope= ""
            = t :'membership/user/search/actions/email_export_text'

        %form.pure-form.pure-form-stacked{:method => 'POST', :action => @current_uri}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'export_search'}
          %input{:type => 'hidden', :name => 'export_type', :value => 'csv'}
          %button.pure-button{:type => 'submit'}
            %i.fa.fa-envelope= ""
            = t :'membership/user/search/actions/email_export_csv'

        %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => @current_uri}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %input{:type => 'hidden', :name => 'action', :value => 'perform_mass_action'}
          %h1= t(:'membership/user/search/massaction/title')

          %label{:for => 'mass-action-type'}
            = t(:'membership/user/search/massaction/type/title')
          %select#mass-action-type{:name => 'mass_action'}
            %option{:value => 'membership_status:member'}
              = t :'membership/user/search/massaction/type/membership_status', :status => 'Member'
            %option{:value => 'membership_status:supporter'}
              = t :'membership/user/search/massaction/type/membership_status', :status => 'Supporter'

          %button.pure-button{:type => 'submit'}
            %i.fa.fa-list= ""
            = t :'membership/user/search/massaction/submit'
