%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/newinstall/background_tasks/title')
  %p= t(:'initial_setup/newinstall/background_tasks/content/one')
  %p= t(:'initial_setup/newinstall/background_tasks/content/two')

  - if @has_meeting_reminders
    .message.message-warning
      = t(:'initial_setup/newinstall/background_tasks/content/meeting_reminders')

  - available_background_tasks().each do |t|
    %label{:for => t[:form_id]}
      = t[:friendly]

    %select{:id => t[:form_id], :name => t[:form_id]}
      %option{:value => '0', :selected => !(t[:enabled_default])}
        = t(:'initial_setup/newinstall/background_tasks/status/disabled')
      %option{:value => '1', :selected => t[:enabled_default]}
        = t(:'initial_setup/newinstall/background_tasks/status/enabled')

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-arrow-right= ""
    = t(:'continue')
