%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/newinstall/complete/title')

  %p= t(:'initial_setup/newinstall/complete/content/part_one')
  %p= t(:'initial_setup/newinstall/complete/content/part_two')

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-birthday-cake= ""
    = t(:'initial_setup/newinstall/complete/submit')
