.form-wrapped
  %h1= t(:'initial_setup/newinstall/kaupapa/title')
  %p= t(:'initial_setup/newinstall/kaupapa/content')

  %form.pure-form.pure-form-stacked{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %input{:type => 'hidden', :name => 'present', :value => 'yes'}

    = haml :'helpers/editor', :layout => false, :locals => {:editor_name => 'text', :editor_label => t(:'initial_setup/newinstall/kaupapa/field')}

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-arrow-right= ""
      = t(:'initial_setup/newinstall/kaupapa/submit_enable')

  %form.pure-form.pure-form-stacked{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %input{:type => 'hidden', :name => 'present', :value => 'no'}

    %button.pure-button.button{:type => 'submit'}
      %i.fa.fa-arrow-right= ""
      = t(:'initial_setup/newinstall/kaupapa/submit_disable')

.async-load{:'data-sources' => JSON.generate(['/static/editor.bundle.js'])}
