.initial-setup-progress.initial-setup-newinstall-progress
  %h1= t(:'initial_setup/newinstall/progress_title')
  %ul.isprog-list
    - statuses = newinstall_steps().map{|g| g[:status]}
    - current_idx = statuses.find_index(@this_upgrade.status)
    - newinstall_steps().each_index do |idx|
      %li
        .isprog-step
          .isprog-step-icon{:class => [(idx < current_idx && 'isprog-step-complete'), (idx == current_idx && 'isprog-step-current')]}
            - if idx < current_idx
              %i.fa.fa-check.fa-fw= ""
            - elsif idx == current_idx
              %i.fa.fa-chevron-right.fa-fw= ""
            - else
              %i.fa.fa-circle-o.fa-fw= ""

          .isprog-step-friendly
            &= newinstall_steps().at(idx)[:friendly]
