%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/newinstall/roles/title')

  - if available_roles.count.positive?
    %p= t(:'initial_setup/newinstall/roles/content/some_roles')

    - available_roles.each do |role|
      %label{:for => role[:form_id]}
        %input{:type => 'checkbox', :id => role[:form_id], :name => role[:form_id], :checked => role[:default] || role[:user_has], :disabled => role[:user_has]}= ""
        &= role[:desc]

  - else
    %p= t(:'initial_setup/newinstall/roles/content/no_roles')

  %div{:style => 'height: 1em'}= ""
  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-arrow-right= ""
    = t(:'continue')
