%form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %h1= t(:'initial_setup/newinstall/two_factor/title')
  %p= t(:'initial_setup/newinstall/two_factor/content/one')
  %p= t(:'initial_setup/newinstall/two_factor/content/two')

  %p{:style => 'text-align:center'}
    %img{:src => @qrcode_data, :style => 'width:90%;max-width:16rem;height:auto'}

  %p
    = t(:'initial_setup/newinstall/two_factor/content/secret')

    %code
      = session[:totp_secret]

  %label{:for => 'code'}= t(:'initial_setup/newinstall/two_factor/verify_code')
  %input#code{:type => 'text', :required => true, :name => 'code'}= ""

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-arrow-right= ""
    = t(:'continue')

- if settings.development?
  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %input{:type => 'hidden', :name => 'code', :value => 'devmode_skip'}

    %button.pure-button.button.button-error{:type => 'submit'}
      %i.fa.fa-cogs= ""
      = t(:'initial_setup/newinstall/two_factor/devmode_skip')
