%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  
  %p
    - code_display = @verify_code.split('').each_slice(3).to_a.map(&:join).join('-')
    = t(:'membership/groups/delete/content', :group => @group_h[:name], :verify_code => code_display)
    
  %label{:for => "verify"}
    = t(:'membership/groups/delete/verify_code')
  %input#verify{:type => 'text', :name => 'verify', :required => true, :placeholder => '123456789'}
    
  %div{:style => 'height:1em'}= ""
    
  %button.pure-button.button.button-error{:type => 'submit'}
    %i.fa.fa-trash= ""
    = t(:'membership/groups/delete/submit')

  %a.pure-button.button{:href => "/admin/group/edit/#{@group.id}"}
    %i.fa.fa-arrow-left= ""
    = t(:'membership/groups/delete/cancel')
