.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button{:href => '/admin/group'}
      %i.fa.fa-chevron-left= ""
      = t :back

    .pure-g
      .pure-u-1.pure-u-md-1-2
        .form-wrapped.margin-x
          %h1= t(:'membership/groups/view/summary/title')

          %ul
            - @summary.each do |se|
              %li
                %strong
                  = succeed ':' do
                    = t("membership/groups/view/summary/#{se[:name].to_s}".to_sym)

                %span
                  - if se[:name] == :group_type
                    = t("group/type/#{se[:data].to_s}".to_sym)
                  - elsif se[:data] == true
                    &= t(:'bool/true')
                  - elsif se[:data] == false
                    &= t(:'bool/false')
                  - elsif se[:data] == nil
                    &= t(:'unknown')
                  - else
                    %code
                      &= se[:data]

      .pure-u-1.pure-u-md-1-2
        .form-wrapped.margin-x
          %h1= t(:'membership/groups/view/actions/title')

          - if has_role?("admin:group:edit")
            %a.pure-button.button.button-primary{:href => "/admin/group/members/#{@group.id}"}
              %i.fa.fa-user= ""
              = t(:'membership/groups/view/actions/members')

            %a.pure-button.button.button-error{:href => "/admin/group/delete/#{@group.id}"}
              %i.fa.fa-trash= ""
              = t(:'membership/groups/view/actions/delete')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %h1= t(:'membership/groups/view/edit/title')
      - can_edit = has_role?("admin:group:edit")
      - if can_edit
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}      

      %label{:for => "group_name"}= t(:'membership/groups/view/edit/fields/name')
      %input#group_name{:name => "name", :required => true, :placeholder => t(:'membership/groups/view/edit/fields/name'), :value => @group_h[:name], :disabled => !can_edit}

      %label{:for => 'group_type'}= t(:'membership/groups/view/edit/fields/type')
      %select#group_type{:name => 'type', :required => true, :disabled => !can_edit}
        - %w[caucus working_group].each do |t|
          %option{:value => t, :selected => @group_h[:type] == t}
            = t("group/type/#{t}".to_sym)

      %label{:for => "group_description"}= t(:'membership/groups/view/edit/fields/description')
      %textarea#group_description{:name => "description", :disabled => !can_edit}
        &= @group_h[:description]

      %label{:for => "group_agreement"}= t(:'membership/groups/view/edit/fields/agreement')
      %textarea#group_agreement{:name => "agreement", :disabled => !can_edit}
        &= @group_h[:agreement]

      %label{:for => "group_discourse"}= t(:'membership/groups/view/edit/fields/discourse')
      %input#group_discourse{:name => "discourse_link", :placeholder => t(:'membership/groups/view/edit/fields/discourse'), :value => @group_h[:discourse_link], :disabled => !can_edit}

      %label{:for => "group_is_joinable"}
        %input#group_is_joinable{:type => 'checkbox', :name => 'is_joinable', :checked => !@group_h[:secret], :disabled => !can_edit}
        = t(:'membership/groups/view/edit/fields/is_joinable')

      %label{:for => "group_is_restricted_to_member"}
        %input#group_is_restricted_to_member{:type => 'checkbox', :name => 'is_restricted', :checked => @group_h[:member_only], :disabled => !can_edit}
        = t(:'membership/groups/view/edit/fields/member_only')

      - if can_edit
        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-pencil= ""
          = t(:'membership/groups/view/edit/submit')
