.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    - if @gtypes.empty?
      %p= t(:'membership/groups/none')

    - else
      - @gtypes.each do |type, groups|
        .form-wrapped
          %h1= t("group/type/#{type.to_s}/plural".to_sym)

          %ul.membership-group-list.block-list
            - groups.each do |id, c|
              %li
                .membership-group-list-name
                  %strong
                    &= c[:name]
                    
                  - unless c[:is_joinable]
                    %span.badge
                      %i.fa.fa-lock= ""
                      = t(:'group/attr/secret')

                .membership-group-list-meta
                  %ul.inline-list
                    %li
                      = t(:'group/attr/members', :count => c[:member_count])

                .membership-group-list-actions
                  .block-list-form
                    %a.pure-button.button.button-primary{:href => c[:link]}
                      %i.fa.fa-folder-open-o= ""
                      = t(:'membership/groups/item/view') 

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/admin/group/create'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t(:'membership/groups/create/title')

      %label{:for => 'group_name'}= t(:'membership/groups/create/name')
      %input#group_name{:name => 'name', :required => true, :placeholder => t(:'membership/groups/create/name')}

      %label{:for => 'group_type'}= t(:'group/type/title')
      %select#group_type{:name => 'type', :required => true}
        - %w[caucus working_group].each do |t|
          %option{:value => t}
            = t("group/type/#{t}".to_sym)

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-plus
        = t(:'membership/groups/create/submit')
