%form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %p= t(:'auth/signup_extended/apply/content')

  %ul
    -# User name
    %li
      = t(:'auth/signup_extended/apply/list/name', :user_name => @signup_full_name)

    -# Membership status
    %li
      - if %w[supporter].include?(@signup_membership_status)
        = t(:'auth/signup_extended/apply/list/membership_status/supporter', :status => t("membership_status/#{@signup_membership_status}".to_sym))
      - else
        = t(:'auth/signup_extended/apply/list/membership_status/member', :status => t("membership_status/#{@signup_membership_status}".to_sym))

    -# Branch
    %li
      - if @signup_branch.id == EARMMS.app_config['membership-default-branch']
        = t(:'auth/signup_extended/apply/list/branch/default', :branch_name => @signup_branch_name)
      - else
        = t(:'auth/signup_extended/apply/list/branch/request', :branch_name => @signup_branch_name)

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-check= ""
    = t(:'auth/signup_extended/apply/submit')
