%form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %p= t(:'auth/signup_extended/branch/content', :first_branch => @branches.first[:name])

  %label.sr-only{:for => 'branch'}= t(:'auth/signup_extended/branch/branch_field')
  %select#branch{:name => 'branch', :required => true}
    - @branches.each do |b|
      %option{:value => b[:id]}
        &= b[:name]

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-check= ""
    = t(:'auth/signup_extended/branch/submit')
