%p
  = t(:'auth/signup_extended/membership/content')

.pure-g
  .pure-u-1.pure-u-lg-1-2
    %form.pure-form.pure-form-stacked.auth-form.form-wrapped.margin-x{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'status', :value => 'member'}
      %h1= t(:'membership_status/member')

      .auth-signupex-status-info
        = @info_member

      - if @kaupapa
        .auth-signupex-status-info
          %p= t(:'auth/signup_extended/membership/content_kaupapa')

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-user-circle= ""
        = t(:'auth/signup_extended/membership/submit', as: t(:'membership_status/member'))

  .pure-u-1.pure-u-lg-1-2
    %form.pure-form.pure-form-stacked.auth-form.form-wrapped.margin-x{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'status', :value => 'supporter'}
      %h1= t(:'membership_status/supporter')

      .auth-signupex-status-info
        = @info_supporter

      %button.pure-button.button.button-primary{:type => 'submit'}
        %i.fa.fa-user-circle-o= ""
        = t(:'auth/signup_extended/membership/submit', as: t(:'membership_status/supporter'))
      
      
