%p
  = t(:'auth/signup_extended/membership/accept_kaupapa/content')

.auth-signupex-kaupapa.rich-text-container
  = @kaupapa

%div{:style => 'height:1em'}= ""

%form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'status', :value => 'member'}
  %input{:type => 'hidden', :name => 'accept', :value => '1'}
  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-check= ""
    = t(:'auth/signup_extended/membership/accept_kaupapa/submit/member')

%form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input{:type => 'hidden', :name => 'status', :value => 'supporter'}
  %input{:type => 'hidden', :name => 'accept', :value => '0'}
  %button.pure-button.button.button-warning{:type => 'submit'}
    %i.fa.fa-square= ""
    = t(:'auth/signup_extended/membership/accept_kaupapa/submit/supporter')
