.user-membership-info
  = @membership_info

  .message.message-warning
    = t(:'auth/signup_extended/membership_info/view_later')

  %form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-chevron-right= ""
      = t(:'auth/signup_extended/membership_info/submit')

