%form.pure-form.pure-form-stacked.auth-form{:method => 'POST'}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %p= t(:'auth/signup_extended/profile/content')

  - @fields.each do |f|
    %label{:for => "profile-#{f[:name]}"}
      = f[:friendly]
      - if f[:required]
        %span.badge.field-required
          = t :'field_required'

    - if f[:type] == "textarea"
      %textarea{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
        &= f[:default].to_s

    - elsif f[:type] == "select"
      %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
        - f[:select_options].each do |opt|
          %option{:value => opt[:name], :selected => f[:default].to_s == opt[:name]}
            &= opt[:friendly]

    - elsif f[:type] == "bool"
      %select{:id => "profile-#{f[:name]}", :name => f[:name], :required => f[:required], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}
        %option{:value => 'true', :selected => f[:default].to_s == 'true'}= t :'bool/true'
        %option{:value => 'false', :selected => f[:default].to_s != 'true'}= t :'bool/false'

    - else
      %input{:id => "profile-#{f[:name]}", :name => f[:name], :placeholder => f[:friendly], :required => f[:required], :value => f[:default].to_s, :type => f[:type], :'data-display-only-if' => (f.key?(:display_only_if) ? JSON.generate(f[:display_only_if]) : nil)}

  %button.pure-button.button.button-primary{:type => 'submit'}
    %i.fa.fa-check= ""
    = t(:'auth/signup_extended/profile/submit')
