.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/admin/stats'}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

    %p= t(:'membership/stats/content/since', since: @since)
    %p= t(:'membership/stats/content/diff', members: @stats[:diff][:members], supporters: @stats[:diff][:supporters])

    .stats-table
      %table.pure-table.pure-table-bordered.pure-table-striped
        %thead
          %tr
            %th
              = t(:'membership/stats/date')

            - if @show[:overall]
              %th
                = succeed ': ' do
                  = t(:'membership/stats/overall')
                = t(:'membership_status/member/plural')

              %th
                = succeed ': ' do
                  = t(:'membership/stats/overall')
                = t(:'membership_status/supporter/plural')

            - @branches.each do |bid, brn|
              - if @show[:branches][bid.to_s]
                %th
                  = succeed ' ' do
                    = t(:'branch')
                  = succeed ': ' do
                    &= brn
                  %span
                    = t(:'membership_status/member/plural')

                %th
                  = succeed ' ' do
                    = t(:'branch')
                  = succeed ': ' do
                    &= brn
                  %span
                    = t(:'membership_status/supporter/plural')

        %tbody
          - @stats[:by_day].each do |data|
            %tr
              %td
                &= data[:day].strftime('%Y-%m-%d')

              - if @show[:overall]
                %td
                  &= data[:overall][:members]
                %td
                  &= data[:overall][:supporters]
              
              - @branches.each do |bid, brn|
                - if @show[:branches][bid.to_s]
                  %td
                    - if data[:branches][bid.to_s]
                      &= data[:branches][bid.to_s][:members]
                    - else
                      = t(:'unknown')
                  %td
                    - if data[:branches][bid.to_s]
                      &= data[:branches][bid.to_s][:supporters]
                    - else
                      = t(:'unknown')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/admin/stats/detail'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t(:'membership/stats/detail/data_select/title')

      .pure-g
        .pure-u-1.pure-u-md-1-2
          .margin-x
            %div{:style => 'text-align:center;margin-bottom:1em'}
              %strong= t(:'membership/stats/detail/data_select/time_period')

            %label{:for => 'since'}= t(:'membership/stats/time_period/field')
            %input#since{:name => 'since', :type => 'date', :required => true, :value => @since.strftime("%Y-%m-%d")}

        .pure-u-1.pure-u-md-1-2
          .margin-x
            %div{:style => 'text-align:center;margin-bottom:1em'}
              %strong= t(:'membership/stats/detail/data_select/show/title')

            %label{:for => 'show_overall'}
              %input{:id => 'show_overall', :name => 'show_overall', :type => 'checkbox', :checked => @show[:overall]}
              = t(:'membership/stats/detail/data_select/show/overall')

            - @branches.each do |bid, brn|
              %label{:for => "show_br_#{bid.to_s}"}
                %input{:id => "show_br_#{bid.to_s}", :name => "show_br_#{bid.to_s}", :type => 'checkbox', :checked => @show[:branches][bid.to_s]}
                = t(:'membership/stats/detail/data_select/show/branch', :branch => brn)

      %div{:style => 'margin-bottom:1em'}= ""

      %button.pure-button.button{:type => 'submit'}
        %i.fa.fa-list= ""
        = t(:'membership/stats/time_period/submit')