.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= @title

    %a.pure-button.button{:href => '/admin/stats/detail'}
      %i.fa.fa-list= ""
      = t(:'membership/stats/detail/title')

    %p= t(:'membership/stats/content/since', since: @since)
    %p= t(:'membership/stats/content/diff', members: @stats[:diff][:members], supporters: @stats[:diff][:supporters])

    %canvas#membership-overview-chart.js-chart{:'data-chart' => JSON.generate(@chart_json)}
      = t(:'membership/stats/canvas_no_show')

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'GET', :action => '/admin/stats'}
      %h1= t(:'membership/stats/detail/data_select/title')

      %label{:for => 'since'}= t(:'membership/stats/time_period/field')
      %input#since{:name => 'since', :type => 'date', :required => true, :value => @since.strftime("%Y-%m-%d")}

      %button.pure-button.button{:type => 'submit'}
        %i.fa.fa-list= ""
        = t(:'membership/stats/time_period/submit')

.async-load{:'data-sources' => JSON.generate(['/static/charts.bundle.js'])}