.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'membership_admin/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t :'membership/title'

    %h2= t :items_to_review
    %ul
      %li
        - if @membership_alerts > 0
          %a{:href => '/admin/alerts'}
            %i.fa.fa-bell
            = t :'alerts/count', :count => @membership_alerts
        - else
          = t :'alerts/none'

    %h2= t :'membership/overview/title'
    %ul
      %li
        %span
          = t(:'membership/overview/org_title')
        %ul
          - @counts[:status].each do |status, count|
            %li
              = succeed ':' do
                = t("membership_status/#{status}/plural".to_sym)
              %code
                &= count

      %li
        %span
          = t(:'branch/plural')
        %ul
          - @counts[:branches].each do |branch|
            %li
              %span
                &= branch[:name]
              %ul
                - branch[:counts].each do |status, count|
                  %li
                    = succeed ':' do
                      = t("membership_status/#{status}/plural".to_sym)
                    %code
                      &= count
