- if has_role?("admin:access")
  %ul.page-sidebar
    %li.page-sidebar-item{:class => ("page-sidebar-selected" if current?('/admin'))}
      %a.page-sidebar-link{:href => "/admin"}= t :'membership/title'

      %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/alerts"))}
        %a.page-sidebar-link{:href => "/admin/alerts"}
          = t :'alerts/title'
          - if @membership_alerts > 0
            %span.badge
              %i.fa.fa-bell= ""
              = @membership_alerts

      - if has_role?("admin:branch")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/branch"))}
          %a.page-sidebar-link{:href => "/admin/branch"}= t :'membership/branch/title'

      - if has_role?("admin:user:stats")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/stats"))}
          %a.page-sidebar-link{:href => "/admin/stats"}= t :'membership/stats/title'

      - if has_role?("admin:user:access")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/user"))}
          %a.page-sidebar-link{:href => "/admin/user"}= t :'membership/user/title'

      - if has_role?("admin:groups")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/group"))}
          %a.page-sidebar-link{:href => "/admin/group"}= t :'membership/groups/title'

      - if has_role?("admin:config")
        %li.page-sidebar-item{:class => ("page-sidebar-selected" if current_prefix?("/admin/config"))}
          %a.page-sidebar-link{:href => "/admin/config"}= t :'membership/configuration/title'
