Hello,

An alert on <%= ERB::Util.html_escape(site_name) %> has occurred in section <%= ERB::Util.html_escape(alert[:section].to_s.inspect) %>.

Alert type: <%= alert[:type_friendly] %> (type code <%= alert[:type].to_s %>)
Sent by:
  <% if alert[:user] %><% if alert[:profile] %><%= ERB::Util.html_escape(alert[:profile].decrypt(:full_name)) %><% end %> (uid <%= ERB::Util.html_escape(alert[:user].id) %>)<% else %>No user specified<% end %>
  <% if alert[:section].to_s == "membership" %><%= view_user_link %><% end %>


Message:
> <%= ERB::Util.html_escape(alert[:message]) %>

You can view this, and any other alerts, at:
<%= view_alert_link %>

-------------------------------------------------------------------------------

You are being notified of this because you have an alerting role for this
section (<%= ERB::Util.html_escape(role) %>) on <%= ERB::Util.html_escape(site_name) %>.
