<p>
  Hello,
</p>

<p>
  An alert on <%= site_name %> has occurred in section <%= ERB::Util.html_escape(alert[:section].to_s.inspect) %>.
</p>

<p>
  Alert type: <%= ERB::Util.html_escape(alert[:type_friendly]) %>
  (type code <code><%= ERB::Util.html_escape(alert[:type].to_s) %></code>)
</p>

<p>
  Sent by:
  <% if alert[:user] %>
    <% if alert[:section].to_s == "membership" %><a href="<%= view_user_link %>"><% end %>
    <% if alert[:profile] %>
      <%= ERB::Util.html_escape(alert[:profile].decrypt(:full_name)) %>
    <% end %>

    (uid <code><%= ERB::Util.html_escape(alert[:user].id) %></code>)
    <% if alert[:section].to_s == "membership" %></a><% end %>
  <% else %>
    No user specified
  <% end %>
</p>

<p>
  Message:
  <blockquote>
    <%= ERB::Util.html_escape(alert[:message]) %>
  </blockquote>
</p>

<p>
  <a href="<%= view_alert_link %>">
    You can view this, and any other alerts, by clicking here.
  </a>

  <br>
  Alternatively, copy the following link into your web browser:
  <br>
  <code><%= view_alert_link %></code>
</p>

<hr>

<p>
  You are being notified of this because you have an alerting role for this
  section (<code><%= ERB::Util.html_escape(role) %></code>) on <%= ERB::Util.html_escape(site_name) %>.
</p>
