Hello,

This is a reminder that there is a meeting for the <%= ERB::Util.html_escape(branch.decrypt(:name)) %>
branch on <%= ERB::Util.html_escape(datetime.strftime('%A, %-d %B %Y at %I:%M %P')) %>.

Meeting details:

- Location: <%= ERB::Util.html_escape(meeting.decrypt(:location)) %>
- Time: <%= ERB::Util.html_escape(datetime.strftime('%A, %-d %B %Y at %I:%M %P')) %>

The notes for this meeting are as follows:

> <%= ERB::Util.html_escape(meeting_notes_text) %>

If you can not attend this meeting, you can send apologies by logging into
<%= ERB::Util.html_escape(site_name) %> and clicking on the meeting on the home page, or by following
this link:

<%= meeting_link %>

-------------------------------------------------------------------------------

You are being sent this email because you are a member of the
<%= ERB::Util.html_escape(branch.decrypt(:name)) %> branch of <%= ERB::Util.html_escape(org_name) %>.
