<p>Hello,</p>

<p>
  This is a reminder that there is a meeting for the <%= ERB::Util.html_escape(branch.decrypt(:name)) %> branch on <%= ERB::Util.html_escape(datetime.strftime('%A, %-d %B %Y at %I:%M %P')) %>.
</p>

<p>Meeting details:</p>

<p>
  <strong>Location:</strong> <%= ERB::Util.html_escape(meeting.decrypt(:location)) %></p>
  <br>
  <strong>Time:</strong> <%= ERB::Util.html_escape(datetime.strftime('%A, %-d %B %Y at %I:%M %P')) %>
</p>

<p>The notes for this meeting are as follows:</p>

<p>
  <blockquote>
    <%= meeting_notes_html %>
  </blockquote>
</p>

<p>
  If you can not attend this meeting, you can
  <a href="<%= meeting_link %>">send apologies by clicking here</a>, or going
  to this link in your browser: <%= meeting_link %>
</p>

<hr>

<p>
  You are being sent this email because you are a member of the
  <%= ERB::Util.html_escape(branch.decrypt(:name)) %> branch of <%= ERB::Util.html_escape(org_name) %>.
</p>

