Hello,

A request has been made to delete the account on <%= ERB::Util.html_escape(site_name) %>
associated with this email address.

If you made this request, and you wish to continue deleting your account on
<%= ERB::Util.html_escape(site_name) %>, click the link below:

<%= confirm_link %>

This confirmation link will expire in 24 hours. If you did not submit a request
to delete your account on <%= ERB::Util.html_escape(site_name) %>, you can
safely ignore this email.

This is an automated email from <%= ERB::Util.html_escape(site_name) %>
on behalf of <%= ERB::Util.html_escape(org_name) %>.
