<p>Hello,</p>

<p>
To verify your email address on <%= ERB::Util.html_escape(site_name) %>,
click the following link, or copy and paste it into your browser:
</p>

<p><a href="<%= verify_link %>"><%= verify_link %></a></p>

<p>
This email verification link will expire in 12 hours.
</p>

<p>
Regards,
<br>
<%= ERB::Util.html_escape(site_name) %> - <%= ERB::Util.html_escape(org_name) %>
</p>
