A new user has joined a group you administer on <%= ERB::Util.html_escape(site_name) %>.

Group name: <%= ERB::Util.html_escape(group[:name]) %>

-----

User information:

* Name: <%= ERB::Util.html_escape(user_name) %>
* Email: <%= ERB::Util.html_escape(user_email) %>
<% unless branch.nil? || branch.empty? %>* Branch: <%= ERB::Util.html_escape(branch) %><% end %>

-----

This is an automated email from <%= ERB::Util.html_escape(site_name) %>.
