<p>Hello,</p>

<p>
  There are <%= ERB::Util.html_escape(meetings.length.to_s) %> branch meeting(s) in the next week within
  <%= ERB::Util.html_escape(org_name) %>.
</p>

<p>
  <ul>
    <% for meeting in meetings %>
      <li>
        <a href="<%= meeting[:url] %>">
          Meeting for
          <%= ERB::Util.html_escape(meeting[:branch_name]) %>:
          <%= ERB::Util.html_escape(meeting[:datetime].strftime("%A, %-d %B %Y at %I:%M %P")) %>
        </a>
      </li>
    <% end %>
  </ul>
</p>

<hr>

<p>
  You are being sent this email because you are a supporter of <%= ERB::Util.html_escape(org_name) %>.
</p>
