Hello,

A user on <%= ERB::Util.html_escape(site_name) %> has deleted their account. A summary of their
account details is below.

-------------------------------------------------------------------------------

Identifiers: uid <%= user.id %> pid <%= profile.id %>
Full name: <%= ERB::Util.html_escape(profile.decrypt(:full_name) || '(unknown)') %>
Email address: <%= ERB::Util.html_escape(user.email || '(unknown)') %>
Membership status: <%= ERB::Util.html_escape(profile.decrypt(:membership_status) || '(unknown)') %>
Branch: <%= ERB::Util.html_escape(profile.decrypt(:branch) || '(unknown)') %>

-------------------------------------------------------------------------------

You are being notified of this because you have an alerting role for membership
administration tasks on <%= ERB::Util.html_escape(site_name) %>.
