%footer.body-footer
  - if languages.size > 1
    %form.pure-form{:method => "POST", :action => "/language"}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %input{:type => 'hidden', :name => 'action', :value => 'change-language'}
      %label{:for => "earmms-language-switch"}
        = succeed ':' do
          = t(:'language/title')
      %select#earmms-language-switch{:name => "language"}
        - languages.each do |k, v|
          %option{value: k, selected: (k == current_language ? "selected" : false)}
            = v[:meta_description]
      %button.pure-button{:type => "submit"}
        = t(:'language/change')

  %p
    %ul.inline-list
      %li= t :'earmms/powered_by'
      - if settings.development? || EARMMS.app_config['display-version']
        %li.earmms-version= EARMMS.version

  - if settings.development?
    %p
      %ul.inline-list
        %li Development tools

        %li
          %a{:href => '/-/devtools/reload-languages'}
            %i.fa.fa-refresh= ""
            Reload languages

        %li
          %a{:href => '/-/devtools/restart'}
            %i.fa.fa-server= ""
            App server restart