!!!html
%html
  %head
    %meta(charset="utf-8")
    %title= [@title ? "#{@title} &laquo; " : nil, site_name].compact.join('')
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %link(rel="stylesheet" href="/static/vendor/purecss/build/pure-min.css")
    %link(rel="stylesheet" href="/static/vendor/purecss/build/grids-responsive-min.css")
    %link(rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css")
    %link(rel="stylesheet" href="/static/css/styles.css")
    %link(rel="stylesheet" href="/static/css/theme.css")
    = haml :'layout_head_extra', :layout => false

    - if settings.development? || EARMMS.app_config['display-version'] 
      %meta{:name => 'generator', :content => "EARMMS #{EARMMS.version}"}

  %body
    = yield

    %script(src="/static/index.bundle.js")
