%nav.navbar
  .pure-menu.pure-menu-horizontal.navbar-bar
    .navbar-section
      %ul.pure-menu-list.navbar-list
        
        - site_navbar_entries().each do |entry|
          %li.pure-menu-item.navbar-item{:class => ("pure-menu-selected" if entry[:selected])}
            %a.pure-menu-link.navbar-link{:href => entry[:link]}
              = entry[:friendly]
