%h1= @title

%ul.block-list
  - @branches.each do |b|
    %li
      %strong
        &= b[:name]

      .branch-admin-index-branch-info
        %ul.inline-list
          - b[:counts].each do |status, count|
            %li
              = succeed ':' do
                = t("membership_status/#{status}/plural".to_sym)
              %code
                &= count

          - if b[:is_default]
            %li
              %i.fa.fa-star= ""
              = t(:'branch/is_default')

      .block-list-form
        %a.pure-button.button-primary{:href => "/branch/#{b[:id]}"}
          %i.fa.fa-folder-open-o= ""
          = t(:'branch/view_branch')
