.branch-admin-user-attendance
  %h1= @title

  %a.pure-button{:href => "/branch/members/#{@branch.id}"}
    %i.fa.fa-chevron-left= ""
    = t(:'branch/user_attendance/back')

  %ul.branch-admin-user-attendance-meeting-list
    - @attendance.each do |meeting|
      %li.branch-admin-user-attendance-meeting-entry
        .branch-admin-user-attendance-meeting-entry-title
          = t(:'meeting/at_time', :datetime => meeting[:datetime])

        .branch-admin-user-attendance-meeting-entry-status
          = succeed ':' do
            = t(:'meeting/attendance')

          %strong
            - if %i[present apologies].include?(meeting[:status])
              = t("meeting/attendance/#{meeting[:status].to_s}".to_sym)
            - else
              = t(:'meeting/attendance/unknown')

  - prevpage = "/branch/userattendance/#{@branch.id}/#{@user.id}?page=#{@current_page - 1}"
  - nextpage = "/branch/userattendance/#{@branch.id}/#{@user.id}?page=#{@current_page + 1}"
  = haml :'helpers/pagination', layout: false, locals: {current_page: @current_page, total_pages: @total_pages, prev_page: prevpage, next_page: nextpage}
