%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

  %label.sr-only{:for => "login-email"}=  t :email_address
  %input#login-email{:type => "email", :name => "email", :required => true, :placeholder => t(:email_address), :autofocus => true}

  %label.sr-only{:for => "login-password"}= t :'auth/login/password'
  %input#login-password{:type => "password", :name => "password", :required => true, :placeholder => t(:'auth/login/password')}

  %button.pure-button.button.button-primary{:type => "submit"}
    %i.fa.fa-sign-in= ""
    = t :'auth/login/submit'

  %ul.auth-options.fa-ul
    %li
      %i.fa.fa-fw.fa-id-card-o=""
      %a{:href => '/auth/signup'}
        = t :'auth/login/no_account_link'
    %li
      %i.fa.fa-fw.fa-envelope-o= ""
      %a{:href => '/auth/reset'}
        = t :'auth/login/forgot_password'
