%form.pure-form.pure-form-stacked.auth-form#u2f-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
  %input#u2f-response{:type => 'hidden', :name => 'response'}
  %div#u2f-data{:style => 'display:none'}
    &= JSON.generate({mode: 'auth', sign_requests: @sign_requests, challenge: session[:u2f_challenge], app_id: @app_id, messages: @messages})

  %p#u2f-message
    - if @enhanced
      = t :'auth/login/enhanced/key/status/initializing'
    - else
      = t :'auth/login/mfa/key/status/initializing'

  - unless @enhanced
    %a.pure-button.button{:href => '/auth/mfa/totp'}
      %i.fa.fa-mobile= ""
      = t :'auth/login/mfa/switch_to/totp'
