%form.pure-form.pure-form-stacked.auth-form{:method => "POST"}
  %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

  %p= t :'auth/login/mfa/totp/content'

  - if @debug_bypass
    %input{:type => "hidden", :name => "code", :value => '#DEBUG BYPASS#'}
    .message.message-warning
      = t(:'auth/login/mfa/totp/debug_bypass')

  - else
    %label{:for => "code"}
      = succeed ':' do
        = t :'auth/login/mfa/totp/field'

    %input{:type => "text", :name => "code", :id => "code", :placeholder => "123456", :autofocus => true, :autocomplete => 'one-time-code'}

  %button.pure-button.button-primary{:type => 'submit'}
    %i.fa.fa-sign-in= ""
    = t :'auth/login/mfa/totp/submit'

  - if @has_u2f
    %a.pure-button.button{:href => '/auth/mfa/key'}
      %i.fa.fa-key= ""
      = t :'auth/login/mfa/switch_to/key'
