.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1 Alerts
    = haml :'alerts/grouped'

    .form-wrapped
      %a.pure-button{:href => '/system/alerts/page/1'}
        %i.fa.fa-list= ""
        Show dismissed alerts
