.pure-g
  .pure-u-1.pure-u-md-1-4
    = haml :'system/sidebar'

  .pure-u-1.pure-u-md-3-4
    %h1= t(:'alerts/dismissed')

    = haml :'alerts/page'

    - prevpage = "/system/alerts/page/#{@alerts[:alerts][:page] - 1}"
    - nextpage = "/system/alerts/page/#{@alerts[:alerts][:page] + 1}"
    = haml :'helpers/pagination', layout: false, locals: {current_page: @alerts[:alerts][:page], total_pages: @alerts[:alerts][:total_pages], prev_page: prevpage, next_page: nextpage}
